<form method="post" action="/" class="u-content-wrapper" id="mainForm">
  {{> u_barra_login}}
  {{> u_header}}
  <main>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 medium-offset-3 cell padding-top-1 padding-bottom-1">
        <div class="callout alert">
          <h1>Errore 404</h1>
          <p>La pagina che stai cercando non è stata trovata.</p>
          <a href="#">Torna alla pagina principale</a>
        </div>
      </div>
    </div>
  </main>
  {{> footer}}
  {{> end_of_body}}
</form>