  <form method="post" action="/tol/mobile/" class="u-content-wrapper" id="mainForm">
    {{> u_barra_login}}
    {{> u_header_left}}
    <main>
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">    
          <div class="u-breadcrumbs">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="#">Home - Nome dell'applicativo</a></li>
                <li><a href="#">Features</a></li>
                <li class="disabled">Gene Splicing</li>
                <li><span class="show-for-sr">Current: </span> Cloning</li>
              </ul>
            </nav>
          </div>                  
          <h1>Esempio layout con tabella e controlli</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          {{> u_top_bar}}
          <table class="hover stack">
            <thead>
              <tr>
                <th width="200">Table Header</th>
                <th><a href="">Table Header with link</a></th>
                <th width="150" class="sort"><a href="">Header to Sort</a></th>
                <th width="150">Stati</th>
                <th width="150">Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td class="sort">Content Goes Here</td>
                <td><span class="u-state-default"><i class="fa fa-circle"></i>Default</span></td>
                <td>
                  {{> u_menu_tools}}
                  </td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td class="sort">Content Goes Here</td>
                <td><span class="u-state-completed"><i class="fa fa-circle"></i>Completato</span></td>
                <td>
                  {{> u_menu_tools}}
                  </td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td class="sort">Content Goes Here</td>
                <td><span class="u-state-progress"><i class="fa fa-circle"></i> In attesa</span></td>
                <td>
                  {{> u_menu_tools}}
                </td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td class="sort">Content Goes Here</td>
                <td><span class="u-state-rejected"><i class="fa fa-circle"></i>Rifiutato</span></td>
                <td>
                  {{> u_menu_tools}}
                </td>
              </tr>
            </tbody>
          </table>
          
          <ul class="pagination text-center" role="navigation" aria-label="Pagination">
            <li class="pagination-previous disabled">Previous</li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis"></li>
            <li><a href="#" aria-label="Page 12">12</a></li>
            <li><a href="#" aria-label="Page 13">13</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
          </ul>
          
        </div>
      </div>
    </main>
    {{> footer}}
  </form>

  
<div class="grid-container styleguide">
  <div class="grid-x">
    <div class="large-12 cell">
      <h2 class="margin-top-2">Istruzioni per l'implementazione di questo template</h2>
      <h3>Copia questo HTML e incollalo all'interno del <code>&lt;body&gt;</code> della tua pagina html.</h3>
      <p><strong>Nota:</strong> La classe "u-content-wrapper" può essere associata a un <kbd>div</kbd> o un altro elemento, ad esempio <kbd>form</kbd>.
          L'importante è che sia il primo elemento dopo il <kbd>body</kbd> e che contenga tutta la pagina.
      </p>
        

      <pre>
        <code class="html">
          <form method="post" action="/tol/mobile/" class="u-content-wrapper" id="mainForm">
            {{> u_barra_login}}
            {{> u_header_left}}
            <main>
              <div class="grid-x grid-padding-x">
                <div class="small-12 cell">    
                  <div class="u-breadcrumbs">
                    <nav aria-label="You are here:" role="navigation">
                      <ul class="breadcrumbs">
                        <li><a href="#">Home - Nome dell'applicativo</a></li>
                        <li><a href="#">Features</a></li>
                        <li class="disabled">Gene Splicing</li>
                        <li><span class="show-for-sr">Current: </span> Cloning</li>
                      </ul>
                    </nav>
                  </div>                  
                  <h1>Esempio layout con tabella e controlli</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  {{> u_top_bar}}
                  <table class="hover stack">
                    <thead>
                      <tr>
                        <th width="200">Table Header</th>
                        <th><a href="">Table Header with link</a></th>
                        <th width="150" class="sort"><a href="">Header to Sort</a></th>
                        <th width="150">Stati</th>
                        <th width="150">Azioni</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td class="sort">Content Goes Here</td>
                        <td><span class="u-state-default"><i class="fa fa-circle"></i>Default</span></td>
                        <td>
                          {{> u_menu_tools}}
                          </td>
                      </tr>
                      <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td class="sort">Content Goes Here</td>
                        <td><span class="u-state-completed"><i class="fa fa-circle"></i>Completato</span></td>
                        <td>
                          {{> u_menu_tools}}
                          </td>
                      </tr>
                      <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td class="sort">Content Goes Here</td>
                        <td><span class="u-state-progress"><i class="fa fa-circle"></i> In attesa</span></td>
                        <td>
                          {{> u_menu_tools}}
                        </td>
                      </tr>
                      <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td class="sort">Content Goes Here</td>
                        <td><span class="u-state-rejected"><i class="fa fa-circle"></i>Rifiutato</span></td>
                        <td>
                          {{> u_menu_tools}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="pagination-previous disabled">Previous</li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li><a href="#" aria-label="Page 4">4</a></li>
                    <li class="ellipsis"></li>
                    <li><a href="#" aria-label="Page 12">12</a></li>
                    <li><a href="#" aria-label="Page 13">13</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
                  </ul>
                  
                </div>
              </div>
            </main>
            {{> footer}}
          </form>
        </code>
      </pre>
      
    </div>
  </div>
</div>
  {{> end_of_body}}

</body>