
<form method="post" action="/tol/mobile/" class="u-content-wrapper" id="mainForm">
  {{> u_barra_login}}


  {{> u_header}}

<main>
  {{> u_lead_colored}}
  <div class="grid-container">
    <div class="grid-x grid-padding-x margin-bottom-2">
      <div class="small-12 cell">    
        <h3 class="u-section-title margin-top-1 text-center">Pensando al lavoro e al tuo futuro, per favore rispondi alle domande che seguono basandoti sulla scala di seguito indicata: </h3>
        <p class="margin-bottom-1 margin-top-half large text-center">
          Holisticly communicate one-to-one services after standardized experiences. Authoritatively incubate progressive intellectual capital through 24/365 intellectual capital. Phosfluorescently brand cooperative applications after B2C convergence. Completely integrate parallel networks whereas performance based e-commerce. Dynamically mesh strategic e-business and effective bandwidth.
          Appropriately transform holistic ideas with ethical.
        </p>
      </div>
    </div>
    {{> u_survey_legend}}
    {{> u_survey}}
    {{> u_survey_w_legend}}
    {{> u_survey_w_legend_vertical}}
    {{> u_survey_w_legend_check}}
    <div class="text-center margin-top-1">
      <input value="Avanti >" type="submit" class="button large">
    </div>
  </div>
</main>
{{> footer}}
</form>


<div class="grid-container styleguide">
  <div class="grid-x">
    <div class="large-12 cell">
      <h2 class="margin-top-2">Istruzioni per l'implementazione di questo template</h2>
      <h3>Copia questo HTML e incollalo all'interno del <code>&lt;body&gt;</code> della tua pagina html.</h3>
      <p><strong>Nota:</strong> La classe "u-content-wrapper" può essere associata a un <kbd>div</kbd> o un altro elemento, ad esempio <kbd>form</kbd>.
          L'importante è che sia il primo elemento dopo il <kbd>body</kbd> e che contenga tutta la pagina.
      </p>
        

      <pre>
        <code class="html">
          <form method="post" action="/tol/mobile/" class="u-content-wrapper" id="mainForm">
            {{> u_barra_login}}
          
          <header class="u-header-left large-hader-center small-left">
            <div class="grid-x grid-padding-x">
              <div class="cell content medium-12">
                <a href="/">
                  <img loading="lazy" class="logo" src="../assets/img/sigillo2x.png" alt="">
                  <div class="text">
                    <p class="alma-mater">Alma Mater Studiorum Università di Bologna</p>
                    <p class="title">Questionario</p>
                  </div>
                </a>
              </div>
            </div>
          </header>
          
          <main>
            {{> u_lead_colored}}
            <div class="grid-container">
              <div class="grid-x grid-padding-x margin-bottom-2">
                <div class="small-12 cell">    
                  <h3 class="u-section-title margin-top-1 text-center">Pensando al lavoro e al tuo futuro, per favore rispondi alle domande che seguono basandoti sulla scala di seguito indicata: </h3>
                  <p class="margin-bottom-1 margin-top-half large text-center">
                    Holisticly communicate one-to-one services after standardized experiences. Authoritatively incubate progressive intellectual capital through 24/365 intellectual capital. Phosfluorescently brand cooperative applications after B2C convergence. Completely integrate parallel networks whereas performance based e-commerce. Dynamically mesh strategic e-business and effective bandwidth.
                    Appropriately transform holistic ideas with ethical.
                  </p>
                </div>
              </div>
              {{> u_survey_legend}}
              {{> u_survey}}
              {{> u_survey_w_legend}}
              {{> u_survey_w_legend_vertical}}
              {{> u_survey_w_legend_check}}
              <div class="text-center margin-top-1">
                <input value="Avanti >" type="submit" class="button large">
              </div>
            </div>
          </main>
          {{> footer}}
          </form>
          
          
        </code>
      </pre>
      
    </div>
  </div>
</div>
{{> end_of_body}}
