<!DOCTYPE html>
<html>  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width, minimum-scale=1.0"/>  
    <meta name="format-detection" content="telephone=no">
    
    <link rel="stylesheet" type="text/css" href="../../styles/application.css?1491908012" />
    
    <!-- CSS per Styleguide -->
    <link rel="stylesheet" type="text/css" href="../../styles/styleguide/styleguide.css?1491908012" />
    <link rel="stylesheet" href="../../styles/highlight/monokai-sublime.css">
    <!--/ CSS per Styleguide -->    
  	<title>Homepage</title>
  </head>
  
  <body>
  	<form method="post" action="/tol/mobile/" class="u-content-wrapper" id="mainForm">
  	
      
        <div class="row expanded u-barra-login">
          <div class="large-12 columns">
           
            <ul class="dropdown menu float-right" data-dropdown-menu>
              <li>
                <a href="">Testo</a>
              </li>
              <li>
                <a href=""><i class="fa fa-address-card-o" aria-hidden="true"></i> Icona e testo</a>
              </li>
              <li>
                <a href="#">
                  <img alt="Logo Single Sign-On di Ateneo" src="../../img/ssologo36x36.png">     
                  <span>Michele Bracuto</span>
                </a>
                <ul class="menu">
                  <li>
                    <p class="u-utente-reale">Valeria Baldelli</p>
                    <a href="#">Testo</a>
                    <a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i> Icona e testo</a>
                    <a class="login" href=""><span>Logout</span></a>
                  </li>
                </ul>
              </li>
              
              <li>
                <a href="" class="no-arrow">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="menu">
                  <li>
                    <a href="">Impostazioni generali</a>
                  </li>
                  <li>
                    <a href="">Autorizzazioni</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      
      <header>
        <div class="row expanded">
          <div class="large-12 columns">
            <a class="content" href="../../../++theme++../../../../../..">
              <img class="img" src="../../img/sigillo2x.png" alt="">
            	<p class="title">
            	  <span class="sub-title">Alma Mater Studiorum Università di Bologna</span>
            	  Nome dell'applicativo
            	</p>
            </a>
          </div>
        </div>
      </header>
      
      <main>
        <div class="row">
          <div class="small-12 column">
          
            <h1>Esempio layout con tabella e controlli</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <div class="row u-top-bar">
              <div class="medium-5 column">
                <button class="button secondary" href="#">Aggiorna</button>
                <button class="button warning" href="#">Reset</button>
                <button class="button alert" type="button">
                 <!-- Screen readers will see "close" -->
                  <span class="show-for-sr">Elimina</span>
                 <!-- Visual users will see the X, but not the "Close" text -->
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
              <div class="medium-3 column">
                <select class="float-left">
                  <option value="husker">Husker</option>
                  <option value="starbuck">Starbuck</option>
                  <option value="hotdog">Hot Dog</option>
                  <option value="apollo">Apollo</option>
                </select>
              </div>
              <div class="medium-4 column">
                <div class="input-group">
                 <input class="input-group-field" type="text" placeholder="Cerca...">
                  
                  <div class="input-group-button">
                    <a class="button primary" href="#">Vai</a>
                  </div>
                </div>
              </div>
            </div>
            
            <table class="hover stack">
              <thead>
                <tr>
                  <th width="200">Table Header</th>
                  <th>Table Header</th>
                  <th width="150">Table Header</th>
                  <th width="150">Stati</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Content Goes Here</td>
                  <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                  <td>Content Goes Here</td>
                  <td><p class="u-stato-default"><i class="fa fa-circle"></i>Default</p></td>
                </tr>
                <tr>
                  <td>Content Goes Here</td>
                  <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                  <td>Content Goes Here</td>
                  <td><p class="u-stato-completato"><i class="fa fa-circle"></i>Completato</td>
                </tr>
                <tr>
                  <td>Content Goes Here</td>
                  <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                  <td>Content Goes Here</td>
                  <td><p class="u-stato-attesa"><i class="fa fa-circle"></i> In attesa</td>
                </tr>
                <tr>
                  <td>Content Goes Here</td>
                  <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                  <td>Content Goes Here</td>
                  <td><p class="u-stato-rifiutato"><i class="fa fa-circle"></i>Rifiutato</td>
                </tr>
              </tbody>
            </table>
            
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
              <li class="pagination-previous disabled">Previous</li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li><a href="#" aria-label="Page 4">4</a></li>
              <li class="ellipsis"></li>
              <li><a href="#" aria-label="Page 12">12</a></li>
              <li><a href="#" aria-label="Page 13">13</a></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
            </ul>
            
          </div>
        </div>
      </main>
      
      <footer>
        <div class="row expanded">
          <div class="large-12 columns">
            
            © 2016 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376
            
            <div class="link-container">
              <a target="_blank" href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a> |
              <a target="_blank" href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali">Note legali</a>
            </div>
            
          </div> <!-- end column -->
        </div> <!-- end row -->
      </footer>      
  	</form>
  	
  	<script src="../../js/jquery.js"></script>
  	<script src="../../js/what-input.js"></script>
  	<script src="../../js/foundation.min.js"></script>
  	<script src="../../js/highlight.pack.js"></script>
  	
  	<script>
  	  $('pre code').each(function () {
  	    var $block = $(this);
  	    $block.text($block.html());
  	  });
  	  hljs.initHighlightingOnLoad();
  	
  	  $(document).foundation();
  	</script>
  </body>
</html>
