<!DOCTYPE html>
<html>  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width, minimum-scale=1.0"/>  
    <meta name="format-detection" content="telephone=no">
    
    <link rel="stylesheet" type="text/css" href="../../styles/application.css?1491819812" />
    
    <!-- CSS per Styleguide -->
    <link rel="stylesheet" type="text/css" href="../../styles/styleguide/styleguide.css?1491819812" />
    <link rel="stylesheet" href="../../styles/highlight/monokai-sublime.css">
    <!--/ CSS per Styleguide -->    
  	<title>Homepage</title>
  </head>
  
  <body>
  	<form method="post" action="/tol/mobile/" class="content-wrapper" id="mainForm">
  	
      
        <div class="row expanded u-barra-login">
          <div class="large-12 columns">
           
            <ul class="dropdown menu float-right" data-dropdown-menu>
              <li>
                <a href="">Testo</a>
              </li>
              <li>
                <a href=""><i class="fa fa-address-card-o" aria-hidden="true"></i> Icona e testo</a>
              </li>
              <li>
                <a href="#">
                  <img alt="Logo Single Sign-On di Ateneo" src="../../img/ssologo36x36.png">     
                  <span>Michele Bracuto</span>
                </a>
                <ul class="menu">
                  <li>
                    <a href="#">Testo</a>
                    <a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i> Icona e testo</a>
                    <a class="login" href=""><span>Logout</span></a>
                  </li>
                </ul>
              </li>
              
              <li>
                <a href="" class="no-arrow">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="menu">
                  <li>
                    <a href="">Impostazioni generali</a>
                  </li>
                  <li>
                    <a href="">Autorizzazioni</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      
      <header>
        <div class="row expanded">
          <div class="large-12 columns">
            <a class="content" href="../../../++theme++../../../../../..">
              <img class="img" src="../../img/sigillo2x.png" alt="">
            	<p class="title">
            	  <span class="sub-title">Alma Mater Studiorum Università di Bologna</span>
            	  Nome dell'applicativo
            	</p>
            </a>
          </div>
        </div>
      </header>
      
      <main>
        <div class="row">
          <div class="medium-6 column">
           
            <div class="u-card-option">
              <i class="fa fa-3x fa-globe" aria-hidden="true"></i>
              <h2>Robortis nisl ut aliquip</h2>
              <p>Energistically deliver user-centric systems without orthogonal catalysts for change. Synergistically productivate market positioning niches whereas distributed best practices.</p>
              <h3>Assistenza</h3>
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
              <a href="" class="button button-primary">Vedi tutto</a>
            </div>
            
          </div>
          <div class="medium-6 column">
             
            <div class="u-card-option">
              <i class="fa fa-3x fa-globe" aria-hidden="true"></i>
              <h2>Robortis nisl ut aliquip</h2>
              <p>Energistically deliver user-centric systems without orthogonal catalysts for change. Synergistically productivate market positioning niches whereas distributed best practices.</p>
              <h3>Assistenza</h3>
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
              <a href="" class="button button-primary">Vedi tutto</a>
            </div>
            
          </div>
        </div>
      </main>
          
      <div class="u-highlight-text">  
        <div class="row">
          <div class="large-6 column">
            <p class="main-label">Lorem ipsum</p>
            <h3>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h3>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
          <div class="large-6 column">
            <p class="main-label">Lorem ipsum</p>
            <h3>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</h3>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
      </div>
                  
      <footer>
        <div class="row expanded">
          <div class="large-12 columns">
            
            © 2016 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376
            
            <div class="link-container">
              <a target="_blank" href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a> |
              <a target="_blank" href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali">Note legali</a>
            </div>
            
          </div> <!-- end column -->
        </div> <!-- end row -->
      </footer>      
  	</form>
  	
  	<script src="../../js/jquery.js"></script>
  	<script src="../../js/what-input.js"></script>
  	<script src="../../js/foundation.min.js"></script>
  	<script src="../../js/highlight.pack.js"></script>
  	
  	<script>
  	  $('pre code').each(function () {
  	    var $block = $(this);
  	    $block.text($block.html());
  	  });
  	  hljs.initHighlightingOnLoad();
  	
  	  $(document).foundation();
  	</script>
  </body>
</html>
