/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/


code {
  display: block;
  padding: 0;
  overflow-x: auto;
  border: none;
}


.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class,
.hljs-selector-tag,
.hljs-attr {
  color: #66d9ef;
}

.hljs-tag .hljs-title, 
.hljs-rule .hljs-property, 
.django .hljs-tag .hljs-keyword
.hljs-attribute, 
.hljs-variable, 
.lisp .hljs-body 
.hljs-symbol {
  color: #a6e22e;
}


.hljs-name {
  color: #f14771;
}

.hljs-string,
.hljs-tag .hljs-value, 
.hljs-doctag, 
.tex .hljs-formula {
    color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-tag, 
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}


.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

