
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../assets/css/app.css">    
        <link rel="stylesheet" href="../assets/styleguide/styleguide.css">
        <link rel="stylesheet" href="../assets/styleguide/highlight.css">    <title>  </title>
  </head>
<body>

<form method="post" action="/" class="u-content-wrapper" id="mainForm">
  <div class="u-barra-login" id="barra-login">
    <ul class="dropdown menu horizontal" data-dropdown-menu data-disable-hover="true" data-click-open="true">
      <li>
        <a href="#">
          <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">     
          <span>Mario Rossi</span>
        </a>
        <ul class="menu">
          <li>
            <div class="u-change-user">
                <p class="disabled">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <strong>Responsabile</strong>
                  <br />
                  <a href="#">Attiva questo ruolo</a>
                </p>
            </div>
          </li>
          <li>
            <a href="#">Testo</a>
          </li>
          <li>
            <a href="#"><i class="far fa-address-card" aria-hidden="true"></i> Icona e testo</a>
          </li>
          <li>
            <a href="#"><span>Logout</span></a>
          </li>
        </ul>
      </li>
  
      <li class="u-lang">
        <a href="#">
          <i class="fas fa-globe-americas" aria-hidden="true"></i><span>IT</span>
        </a>
        <ul class="menu">
          <li>
            <a href="https://www.google.it/?gws_rd=ssl">
              EN
            </a>
          </li>
          <li>
            <a href="https://www.google.it/?gws_rd=ssl">
              FR
            </a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="" class="no-arrow">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span class="show-for-sr">Impostazioni</span>
        </a>
        <ul class="menu">
          <li>
            <a href="">Impostazioni generali</a>
          </li>
          <li>
            <a href="">Autorizzazioni</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>   <header>
    <div class="grid-x expanded grid-padding-x">
      <div class="cell content">
        <a href="/">
          <img loading="lazy" class="logo" src="../assets/img/sigillo2x.png" alt="">
          <div class="text">
            <p class="alma-mater">Alma Mater Studiorum Università di Bologna</p>
            <p class="title">Nome dell'applicativo</p>
          </div>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 medium-offset-3 cell padding-top-1 padding-bottom-1">
        <div class="callout alert">
          <h1>Errore 404</h1>
          <p>La pagina che stai cercando non è stata trovata.</p>
          <a href="#">Torna alla pagina principale</a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="grid-container full">
      <div class="grid-x expanded grid-padding-x">
      <div class="large-12 cell">
        
        © 2021 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376
        
        <div class="link-container">
          <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a> |
          <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali">Note legali</a> |
          <a target="_blank" href="https://github.com/unibo/application_theme">GitHub</a>
        </div>
        
      </div> 
    </div>
    </div>
  </footer>
  
  
  <script src="../assets/js/app.js"></script>
  <script>
    jQuery('pre code').each(function () {
      var $block = jQuery(this);
      $block.text($block.html());
    });
    hljs.highlightAll();
  </script> 
  
</form>

</body>
</html>
