/* stile per la barra (nera) con le informazioni sulla login e altre info inerenti all'accesso in generale */


.u-barra-login {
  position: relative;
  z-index: 9;
  background-color: transparent;
  margin-bottom: 10px;
  height: 0;

  @include breakpoint(small only){
    height: auto;
    border-bottom: 1px solid $e-gray;
    margin-bottom: 0;
  }

  //fix per float
  &:after{
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }

  a {
    color: $base-font-color;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0;
  }

  //sso
  img {
    height: 18px;
    vertical-align: text-top;
    width: 18px;
  }

  .menu {
    float: right;

    li:last-of-type{
      margin-right: $margin-small;
    }

    &:not(.submenu) > li{
      font-weight: 300;
    }
    //non c'è apri chiudi (dropdown)
    > li:not(.is-dropdown-submenu-item) {
      margin-right: 2px;
      margin-top: 4px;
      white-space: nowrap;
      @include breakpoint(small only){
        margin-top: 0;
      }
      > a {
        img,
        i, 
        svg {
          min-width: 18px;
          text-align: center;
        }
      }
    }
    
    //c'è apri e chiudi
    &.dropdown {
      display: flex;
      line-height: 34px;
      > li {
        > a {
          padding-top: 0;
          padding-bottom: 0;
        }
      }


      .is-dropdown-submenu {
        border-radius: $global-radius;
        a{
          display: block;
        }
      }  
    
      li.is-dropdown-submenu-parent .no-arrow::after{
        display: none;
      }

      .is-active {
        //background-color: $e-gray;
        a {
          //color: $light-black;

        }

      }

      > li {       
        
  
        @include breakpoint(large){
          &.is-dropdown-submenu-parent {
          
            &:hover {            
              > a {
                //color: $light-black;
              }
            }
          }
          > a{
            &:hover {
              //  color: $light-black;
              //  background-color: transparent;
            }
          }
  
          .menu {
            li {
              a {              
                &:hover {
                  background-color: $e-gray;
                  //  color: darken($light-black, 25%);
                }
              }
            }
          }
  
        }
      }
    }
  }
  .u-lang{
    .is-dropdown-submenu {
      min-width: 100%;
    }
  }

}

/* stile per impersonamento */

.u-barra-login .dropdown.menu > li.is-dropdown-submenu-parent {
  .u-utente-reale,
  .u-change-user {
    color: $dark-gray;
    padding: 0.5rem 1rem;
    white-space: normal;
    min-width: 250px;
    a,
    a:visited,
    a:link{
      color: $primary-color;
      &:hover{
        background-color: transparent;
        color: $primary-color;
        text-decoration: underline;
      }
    }
    p{
      margin: 0;
    }
  }
  .u-login-info {
    color: $base-font-color;
    margin: 0;
    border-bottom: 1px solid $medium-gray;
    padding: 0em 34px $padding-small;
    p{
      margin: 0;
      white-space: normal;
      font-size: 0.9em;
      line-height: normal;
    }
    a,
    a:visited,
    a:link{
      color: $primary-color;
      padding: 0;
      display: inline;
      &:hover{
        background-color: transparent;
        color: $primary-color;
        text-decoration: underline;
      }
    }
    
  }
}


@include breakpoint(small only){
  /* comportamento quando c'è pulsante apri-chiudi (le sottovoci devono essere width 100% e non avere il float) */
  div[data-responsive-toggle]{
    + .u-barra-login{
      .dropdown.menu[role="menubar"] {
        border: none;
        float: none;
        display: block;
        > li{
          display: block;
          width: 100%;
          border-right: none;
          border-bottom: 1px solid $light-black;
          padding-right: 0;
          box-sizing: inherit;
        }
        .is-active {
          > a{
            border-left: 1px solid $medium-gray;
            border-right: 1px solid $medium-gray;
          }
          > .is-dropdown-submenu{
            right: auto;
            text-align: left;
          }
        }
      }
      /* quando c'è apri/chiudi responsive la lingua va allineata a sinistra */
      .u-lang {
        text-align: left;
        a {
          text-align: left;
        }
      }
    }
  }
}
