/* stile per la barra (nera) con le informazioni sulla login e altre info inerenti all'accesso in generale */


.u-barra-login {
  position: relative;
  z-index: 9;
  background-color: transparent;
  height: 0;
  //l'elemento successivo deve prevedere lo spazio per la toolbar
  
  + * {
    padding-top: 20px;
    @include breakpoint(medium){
        padding-top: 5px;
    }
}

  //fix per float
  &:after{
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }

  a {
    color: $base-font-color;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0;
  }

  //sso
  img {
    height: 18px;
    vertical-align: text-top;
    width: 18px;
  }

  .menu {
    float: right;
    line-height: 27px;
    background-color: #fff;
    border-radius: 0px 0px 0px 5px;

    li:last-of-type{
      margin-right: $margin-small;
    }

    &:not(.submenu) > li{
      font-weight: 300;
    }
    //non c'è apri chiudi (dropdown)
    > li:not(.is-dropdown-submenu-item) {
      margin-right: 2px;
      white-space: nowrap;
      @include breakpoint(small only){
        margin-top: 0;
      }
      > a {
        img,
        i, 
        svg {
          min-width: 18px;
          text-align: center;
        }
      }
    }
    
    //c'è apri e chiudi
    &.dropdown {
      display: flex;
      > li {
        > a {
          padding-top: 0;
          padding-bottom: 0;
        }
      }


      .is-dropdown-submenu {
        border-radius: $global-radius;
        overflow: hidden;
        a{
          display: block;
        }
      }  
    
      li.is-dropdown-submenu-parent .no-arrow::after{
        display: none;
      }
      
      li.is-active > a {
        color: $u-barra-login;
      }

      > li {       
        
  
        @include breakpoint(large){
          &.is-dropdown-submenu-parent {
          
            &:hover {            
              > a {
                //color: $light-black;
              }
            }
          }
          > a{
            &:hover {
              //  color: $light-black;
              //  background-color: transparent;
            }
          }
  
          .menu {
            li {
              a {              
                &:hover {
                  background-color: $e-gray;
                  //  color: darken($light-black, 25%);
                }
              }
            }
          }
  
        }
      }
    }
  }
  .u-lang{
    .is-dropdown-submenu {
      min-width: 100%;
    }
  }

}

/* stile per impersonamento */

.u-barra-login .dropdown.menu > li.is-dropdown-submenu-parent {
  .u-utente-reale,
  .u-change-user {
    color: $dark-gray;
    padding: 0.5rem 1rem;
    white-space: normal;
    min-width: 250px;
    a,
    a:visited,
    a:link{
      color: $primary-color;
      &:hover{
        background-color: transparent;
        color: $primary-color;
        text-decoration: underline;
      }
    }
    p{
      margin: 0;
    }
  }
  .u-login-info {
    color: $base-font-color;
    margin: 0;
    border-bottom: 1px solid $medium-gray;
    padding: 0em 34px $padding-small;
    p{
      margin: 0;
      white-space: normal;
      font-size: 0.9em;
      line-height: normal;
    }
    a,
    a:visited,
    a:link{
      color: $primary-color;
      padding: 0;
      display: inline;
      &:hover{
        background-color: transparent;
        color: $primary-color;
        text-decoration: underline;
      }
    }
    
  }
}
