// stile per breadcrumbs in unibo
// aggiunta possibilità di avere il link a home più grande

.u-breadcrumbs {
  flex: none;
  padding: $padding-small;
  display: block;
  border-bottom: 1px solid $e-gray;
  
  .breadcrumbs {
    margin: 0;
  }
  
  .home {
    text-transform: none;
    
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    //fratelli di .home
    ~ li {
      text-transform: none;
    }
  }
  + main {
    padding-top: 0;
  }
}

.cell .u-breadcrumbs {
  margin: 0 $margin-small $margin $margin-small;
  padding: $padding-small 0;
  padding-left: 2px;
  padding-right: 2px;
}
