.button{
    &.sso{
        background-color: $e-gray;
        color: $base-font-color;
        img{
            margin-right: $margin-xs;
            width: 16px;
            height: 16px;
        }
        &.large{
            img{
                vertical-align: bottom;
            }
        }
    }
}