.contact{
    h2{
        margin-top: $margin-xs;
    }
    i,
    svg{
        margin-right: $margin-xs;
    }
    .info{
        text-align: left;
        padding: $padding-small 0;
          
        .email{
          word-wrap: break-word; 
        }
  
    }
}