footer {
  background-color: $dark-gray;
  color: $white;
  padding: $padding 0;
  text-align: center;
  line-height: 1.4;
  flex: none;
  position: relative;
  @include small();
  .link-container {
    text-align: center;
    padding-top: $padding-xs;
  }
  
  a,
  a:visited,
  a:hover,
  a:link {
    color: $white;
    text-decoration: underline;
  }
}
@include breakpoint(medium down){
  footer {
    padding-top: $padding;
      &::before,
      &::after{
        display: none;
      }
  }
}