footer {
  background-color: $dark-gray;
  background-image: linear-gradient($dark-gray, darken($dark-gray, 10%));
  color: $white;
  padding: $padding 0;
  text-align: center;
  line-height: 1.4;
  flex: none;
  
  @include breakpoint(large){
    line-height: normal;
    text-align: left;
  }
  
  .link-container {
    text-align: center;
    padding-top: $padding;
    
    @include breakpoint(large){
      float: right;
      padding-top: 0;
    }
  }
  
  a,
  a:visited,
  a:hover,
  a:link {
    color: $white;
    text-decoration: underline;
  }
}
