header {
  background-color: $white;
  border-bottom: 1px solid $medium-gray;
  padding: $padding-small 0;  
  width: 100%;
  font-family: "Cinzel", san-serif;
  flex: none;
  .content {
    > a {
      display: flex;
      margin-bottom: 0;
      flex-direction: columns;
      justify-content: center;
      max-width: 100vw; 
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  .text {
    border-left: 1px solid $medium-gray;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include breakpoint(medium){
      min-height: 74px;
    }
  }

  .title {
    margin: 0;
    color: $title-site-color;
    @include normal();
    
    @include breakpoint(medium){
      font-size: rem-calc(25);
      line-height: rem-calc(30);
    }
    @include breakpoint(large){
      font-size: rem-calc(30);
      line-height: rem-calc(35);
    }
  }

  .logo {
    max-width: 100px;
    min-width: 110px;
    width: 30vw;
    height: 100%;
    margin: 0;
    margin-right: 2vw;

    @include breakpoint(medium){      
      max-width: 300px;
    }
  }
  
  &.u-header-left { // Header allineato a sinistra
    
    .content {

      > a {
        justify-content: flex-start;
      }
    }

    &.large-hader-center {
      @include breakpoint(large){
        .content {
          text-align: center;
        }
        .text {
          text-align: left;
        }
      }
    }
  }

  @include breakpoint(small only) {
    &.small-left {
      .content {
        text-align: left;
        > a {
          display: flex;
          align-items: center;
        }
      }
      .logo {
        margin: 0;
        float: left;
      }
      .text {
        overflow: hidden;
        padding-left: 2px;
        .alma-mater {
          font-size: 0.68em;
          margin: 0;
          white-space: nowrap;
          width: auto;
        }
      }
    }
  }

}
