//mixin per altezza in variabile
@mixin height(
  $size: null
) {
  @if $size != null {
    max-height: $size+px !important;
  }
}

.u-jumbo-lead{
    position: relative;
    width: 100%;
    overflow: hidden;
    @for $spacer from 0 through 1000{
        &.height-#{$spacer} {
            @include height($spacer);
            height: auto !important;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .highlighted{
        background-color: #fff;
        padding: 0 5px;
        display: inline;
        line-height: 1.5em;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        box-shadow: $padding-xs 0 0 white, -$padding-xs 0 0 white;
        @include breakpoint(large){
            margin-left: $margin-xs;
        }
    }
    @include breakpoint(large){
        h1{
            @include huge-fancy;
            line-height: 1.5em;
        }
        h2{
            @include very-large-fancy;
            line-height: 1.2em;
        }
        h3{
            @include large-fancy;
            line-height: 1em;
        }
    }

    .button{
        border-radius: 4px;
    }
    .primary,
    .primary:hover{
        background-color: $theme-color;
        @include breakpoint(large){
            @include large-fancy;
        }
    }

    .text-wrap{
        padding-left: $padding;
        padding-right: $padding;        
        padding-top: $padding-small;
        border-bottom: 1px solid $border-color;
        overflow: hidden;
        @include breakpoint(large){
            padding-top: 0;
            position: absolute;
            bottom: $margin;
            border-bottom: none;
        }
    }
}