//mixin per altezza in variabile
@mixin height(
  $size: null
) {
  @if $size != null {
    max-height: $size+px;
  }
}

.u-jumbo-lead{
    position: relative;
    width: 100%;
    overflow: hidden;
    @include breakpoint(large){  
        @for $spacer from 0 through 1000{
            &.height-#{$spacer} {
                @include height($spacer);
            }
        }
    }
    img{
        width: 100%;
    }
    .highlighted{
        background-color: #fff;
        padding: 0 5px;
        display: inline;
        line-height: 1.5em;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        box-shadow: $padding-xs 0 0 white, -$padding-xs 0 0 white;

        @include breakpoint(large){
            @include huge-fancy;
            line-height: 1.5em;
            margin-left: $margin-xs;
        }
    }
    .button{
        border-radius: 4px;
    }
    .primary,
    .primary:hover{
        background-color: $theme-color;
        @include breakpoint(large){
            @include large-fancy;
        }
    }

    .text-wrap{
        padding-left: $padding;
        padding-right: $padding;        
        padding-top: $padding-small;
        border-bottom: 1px solid $border-color;
        overflow: hidden;
        @include breakpoint(large){
            padding-top: 0;
            position: absolute;
            bottom: $margin;
            border-bottom: none;
        }
    }
}