li.u-lang{
    > a{
        text-align: center;
        span{
            display: inline-block;
            width: 20px;
        }
        i, 
        svg {
            margin-right: 5px;
        }
    }
    ul{
        text-align: center;
    }
}