@mixin u-lead{
    padding: $padding;
    margin-bottom: $margin;
    border-bottom: 1px solid $medium-gray;
    @include breakpoint(large){
        padding: $padding $padding-big;
    }
}

.u-lead{
    @include u-lead;
}

.u-lead-photo{
    @include u-lead;
    background-repeat: no-repeat;
    background-image: url("../img/students.png");
    box-shadow: inset 0px 0px 4px #777;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    background-color: #222;
    border-bottom: 0;
    text-align: center;
    &:before {
        content: "";
        background: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.7;
    }
    > *{
        position: relative;
    }
}

.u-lead-colored{
    background-color: $theme-color;
    box-shadow: 0px 0px 10px 0px darken($theme-color, 20) inset;
    padding: $padding-small 0;
    color: #fff; 
    flex-grow:0;
    
    h1 {
        margin-bottom: 20px; 
        @include breakpoint(large){
            @include huge-fancy();
            margin-bottom: 40px; 
        }
        &:after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: darken($theme-color, 20);
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            margin-top: 10px; 
        }
        @include breakpoint(large){
            &:after {
                height: 3px;
                width: 70px;
                margin-left: -35px;
                margin-top: 20px; 
            }
        }
    }
    .text-wrap{
       @include large();
    }
    @include breakpoint(large){
        padding: $padding-big 0 $padding*3; 
    }

    //progress bar
    .progress {
        margin-bottom: $margin-xs;
        .progress-meter {
            background-color: darken($theme-color, 20);
        }
    }

    //l'elemento successivo al lead colorato crea una piega
    + .grid-x {
        background-color: #fff;
        @include breakpoint(large){
            margin-top: -50px;
        }
    }
}