@mixin u-lead{
    padding: $padding;
    margin-bottom: $margin;
    border-bottom: 1px solid $medium-gray;
    @include breakpoint(large){
        padding: $padding $padding-big;
    }
}

.u-lead{
    @include u-lead;
}

.u-lead-colored {
    background-color: $primary-color;
    box-shadow: 0px 0px 10px 0px darken($primary-color, 20) inset;
    padding: $padding-small 0;
    color: #fff; 
    flex-grow:0;

    //l'elemento successivo al lead colorato crea una piega
    + .grid-container > .grid-x:first-child {
        background-color: $white;
        @include breakpoint(large){
            margin-top: -50px;
        }
    }
    
    h1 {
        margin-bottom: 20px; 
        position: relative;
        @include breakpoint(large){
            @include huge-fancy();
            margin-bottom: 40px; 
        }
        &:after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: darken($primary-color, 20);
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            margin-top: 10px; 
        }
        @include breakpoint(large){
            &:after {
                height: 3px;
                width: 70px;
                margin-left: -35px;
                margin-top: 20px; 
            }
        }
    }
    .text-wrap{
       @include large();
    }
    @include breakpoint(large){
        padding: $padding-big 0 $padding*3; 
    }

    //progress bar
    .progress {
        .progress-meter {
            background-color: darken($primary-color, 20);
        }
    }
}