
.u-menu-main {
  margin: 0;
  list-style-type: none;
	
  li {
    line-height: 28px;
    position: relative;
    font-weight: 400;
    transition: background-color 0.3s;
    border-bottom: 1px solid $medium-gray;
    

    a {
      padding: $padding-xs $padding-xs $padding-xs $padding-small;
      text-decoration: none;
      display: block;
      line-height: inherit;
      color: $light-black;
      &:hover {
        background-color: lighten($secondary-color, 47%);
      }

      i, 
      svg {
        vertical-align: baseline;
        line-height: inherit;
        margin-right: $margin-xs;
        min-width: 20px;
        text-align: center;
        font-size: 0.95rem;
      }
    }
  }
  
  .selected {
    > a {
      position: relative;
             
      &:before {
        content: "";
        width: 6px;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  /* menu gerarchico */
  .nested {
    margin-left: $margin;
    margin-bottom: $margin-small;
    
    li {
      @include normal();
      font-weight: normal;
      border-bottom: none;        
    }
    a {
      padding-left: 10px;
      padding-top: $padding-xs;
      padding-bottom: $padding-xs;
    }
    .selected {
      a {
        font-weight: bold;
        &:before{
          display: none;
        }
      }
    }
  }
  li {
  }
  .selected {
    > a {
      color: $theme-color;
      
      &:before {
        background-color: $theme-color;
      }
    }
  }
}



@include breakpoint(medium down){

  .u-menu-main {
    display: flex;
    justify-content: center;
    text-align: center;

    &.vertical {
      flex-direction: row;
    }
    
    > li {
      flex-grow: 1;
    }
    .nested{
      display: none;
    }
    
    .selected {
      a {
        &:before {
          height: 3px;
          width: 100%;
          background-color: $theme-color;
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          top: auto;
        }
      }
    }
    
    .text {
  	display: none;
      
      @include breakpoint(medium){
        display: inline;
      }
    }
  }
}

/* Menu azioni */
.menu {
  li {
    &.u-menu-tools {
        display: inline-block;
        border: 1px solid $medium-gray;
        background-color: #f4f4f4;

      a {
          color: #333333;
          font-size: 13px;
          padding: 5px;

          &:visited {
              color: #333333;
          }

          i, svg {
              margin-right: 0;
          }
      }

      &.is-active {
          background-color: #bbb;
          border-color: #bbb;
      }

      .is-dropdown-submenu {
          min-width: 100%;
          white-space: nowrap;

          .is-dropdown-submenu-item {
              padding: 0 5px 0 5px;

              &:hover {
                  background-color: #f8f8f8;
              }

              i, 
              svg {
                  margin-right: 5px;
              }
          }
      }
    }
  }
}
