.u-radiocard-custom{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(medium){
        flex-direction: row;
        align-items: flex-start;
    }
    .input-container{
        margin: 0 $margin;
        margin-bottom: $margin;    
        max-width: 320px;
        text-align: center;    
        @include breakpoint(medium){
            margin-bottom: 0;     
        }
        .radio-button{
            opacity: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
            &:checked{
                + .radio-tile{
                    border-radius: 3px;
                    border: 2px solid #08c;
                    position: relative;
                    top: -3px;

                    i, 
                    svg {
                        color: $primary-color;
                        &:before{
                            z-index: 9;
                            position: relative;
                        }
                    }
                    .option-container{
                        opacity: 1;
                        pointer-events: initial;
                    }
                }
            }
        }
        .radio-tile{
            border: 1px solid $border-color;
            box-shadow: 0px 1px 3px $border-color;
            border-radius: 3px;
        }
        label{
            padding: $padding $padding-small $padding-small;
            margin-bottom: 0;
            cursor: pointer;
        }
        i, 
        svg {
            font-size: 1.3em;
            border: 1px solid $medium-gray;
            width: 25px;
            height: 25px;
            line-height: 23px;
            border-radius: 50%;
            color: #fff;
            margin-bottom: $margin-small;
        }
        .option-container{
            padding: $padding;
            background-color: $light-gray;
            opacity: .5;
            pointer-events: none;
        }
        input[type="file"]{
            text-align: center;
        }
    }
}