
//tabella responsive
table{
    &.collapse-column{
        @include breakpoint($table-label-resolution - 1px down){            
            display: flex;
            flex-direction: row;            
            border-top: 1px solid $e-gray;
            border-right: 1px solid $e-gray;
            tr,
            th,
            td {
                display: block;
            }
            td,
            th {
                border-left: 1px solid $e-gray;
                border-bottom: 1px solid $e-gray;
                padding-top: $padding-xs;
                padding-bottom: $padding-xs;
                background-color: #fff;
            }
            thead{
                border-top: 1px solid $e-gray;
                flex-grow: 1;
                border: none;
                th{
                    white-space: nowrap;
                    background-color: $light-gray;
                }
                tr{
                    white-space: nowrap;
                }
            }
            tbody{
                border: none;
                display: flex;
                flex-grow: 1;
                overflow-x: scroll;
                tr{
                    white-space: nowrap;
                }
            }
        }

        .hide-label{
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }
        .show-label{
            @include breakpoint($table-label-resolution - 1px down){
                display: none;
            }
        }
    }
    &.collapse-row{
        @include breakpoint($table-label-resolution - 1px down){
            tr{
                th,
                td{
                    display: block;
                    &:not(:first-child){
                        padding-top: $padding-xs;
                    }
                    &:not(:last-child){
                        padding-bottom: $padding-xs;
                    }
                }
            }
        }

        .hide-label{
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }
        .show-label{
            @include breakpoint($table-label-resolution - 1px down){
                display: none;
            }
        }
    }
    &.double-label{
        .data-label{            
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }      
        @include breakpoint($table-label-resolution - 1px down){
            display: block;            
            tbody,
            tr,
            td{
                display: block;
            }
            &.unstriped tr{
                border-top: 5px solid $e-gray;
                border-bottom: none;
                &:first-child{
                    border-top: none;
                }
            }            
            .data-row{
                display: flex;
                justify-content: space-between;
                padding-top: $padding-xs;
                padding-bottom: $padding-xs;
                font-weight: bold;
                border-top: 1px solid $e-gray;
                flex-wrap: wrap;
                span{
                    font-weight: normal;
                }
            }
        }
        .hide-label{
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }
        .show-label{
            @include breakpoint($table-label-resolution - 1px down){
                display: none;
            }
        }
    }
}
