.u-search-header{
    max-width: 800px;
    margin: auto;
    .description{
        @include large();
    }
    .input-group,
    .accordion{
        margin: 0;
    }
    .accordion{
        .accordion-title{
            color: $base-font-color;
        }
    }
}