//prototype per margin e padding a metà spaziatura

//MARGIN
@mixin margin-half() {
    margin: $margin-small;
}
@mixin margin-top-half() {
    margin-top: $margin-small;
}
@mixin margin-bottom-half() {
    margin-bottom: $margin-small;
}
@mixin margin-left-half() {
    margin-left: $margin-small;
}
@mixin margin-right-half() {
    margin-right: $margin-small;
}

.margin-half {
    @include margin-half();
}
.margin-top-half {
    @include margin-top-half();
}
.margin-bottom-half {
    @include margin-bottom-half();
}
.margin-left-half {
    @include margin-left-half();
}
.margin-right-half {
    @include margin-right-half();
}

//PADDING
@mixin padding-half() {
    padding: $padding-small;
}
@mixin padding-top-half() {
    padding-top: $padding-small;
}
@mixin padding-bottom-half() {
    padding-bottom: $padding-small;
}
@mixin padding-left-half() {
    padding-left: $padding-small;
}
@mixin padding-right-half() {
    padding-right: $padding-small;
}

.padding-half {
    @include padding-half();
}
.padding-top-half {
    @include padding-top-half();
}
.padding-bottom-half {
    @include padding-bottom-half();
}
.padding-left-half {
    @include padding-left-half();
}
.padding-right-half {
    @include padding-right-half();
}