table {
  thead {
    .sort{
      &:after {
        content: '\f0dc';
        position: relative;
        font-family: FontAwesome;
        margin-left: $margin-xs;
      }
      &ed-desc,
      &ed-up,
      &ed-up-light {
	      background-color: $primary-color;
        color: color-pick-contrast($primary-color, (#fff, $base-font-color));
        
        &:after {
          content: '\f0de';
          position: relative;
          font-family: FontAwesome;
          margin-left: $margin-xs;
          top: 3px;
        }
      }
      &ed-asc,
      &ed-down,
      &ed-down-light {
	      background-color: $primary-color;
        color: color-pick-contrast($primary-color, (#fff, $base-font-color));
        
        &:after {
          content: '\f0dd';
          position: relative;
          font-family: FontAwesome;
          margin-left: $margin-xs;
          top: -3px;
        }
      }
    }
    /* stile leggero per ordinamento */
    .sorted-up-light,
    .sorted-down-light,
    .sorted-desc-light,
    .sorted-asc-light {
      background-color: #d7edf6;
      color: $base-font-color;
    }
  }
  
  .sorted,
  .sorted-up,
  .sorted-down {
    background-color: lighten($primary-color, 50%);
  }

  /* stile leggero per ordinamento */
  .sorted-light,
  .sorted-up-light,
  .sorted-down-light,
  .sorted-desc-light,
  .sorted-asc-light {
    background-color: #eef7fb;    
  }

  &.dark { // Tabella Dark
    thead {
      color: $white;
      background-color: $dark-gray;
      .sorted-up-light,
      .sorted-down-light,
      .sorted-desc-light,
      .sorted-asc-light {
        background-color: #000;
        color: #fff;
      }
    }
    .sorted,
    .sorted-up,
    .sorted-down,
    .sorted-desc,
    .sorted-asc{
      background-color: #efefef;
    }

  }
  
  &.no-border { // Tabella senza bordi
    thead,
    tbody,
    tfoot {
      border: 0;
    }
  }
  //fix allineamento th
  th{
    text-align: inherit;    
  }
}
