.u-wizard-path {
  margin: 2.5em 0;
  counter-reset: step;

  li {
    list-style: none;
    position: relative;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 5em;

    &:before {
      content: "";
      width: 1px;
      background-color: $medium-gray;
      position: absolute;
      top: 0;
      left: 46px;
      height: 100%;
    }
    &:first-child {
      padding-left: 5em;
      font-weight: 600;

      :first-child {
        color: $light-black;

        &:before {
          color: currentColor;
        }
      }
      &.current-step :first-child {
        color: $primary-color;
      }
    }
    &:last-child {
      font-weight: 600;
      padding-left: 5em;

      &:before {
        display: none;
      }
    }
    :first-child {
      font-size: 1.15384615em;
      line-height: 19px;
      color: $light-black;
      display: inline-block;
      margin-bottom: 0.5em;
      padding-top: 3px;
      text-decoration: none;

      &:before {
        counter-increment: step;
        content: counter(step);
        position: absolute;
        left: 33px;
        top: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        background-color: $light-gray;
        border: 1px solid currentColor;
        width: 26px;
        border-radius: 50%;
        padding: 2px;
      }
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  .previous-step {
    :first-child {
      cursor: pointer;

      &:before {
        color: $success-color;
      }
    }
    &.warning-step :first-child {
      color: $warning-color;
      content: "!";
    }
  }
  .final-step {
    :first-child {
      color: $medium-gray;
      display: block;
      color: $light-black;

      &:before {
        color: inherit;
      }
    }
    &.current-step :first-child {
      color: $primary-color;

    }
  }
  .current-step :first-child {
    color: $medium-gray;
    display: block;
    font-weight: 600;
    color: $primary-color;
    display: block;

    &:before {
      color: $primary-color;
    }
  }
  .next-step :first-child {
    color: $medium-gray;
    display: block;

    &:before {
      content: "\f111";
      font-size: 8px;
      color: $medium-gray;
      margin-left: -36px;
      top: 5px;
    }
  }

  // Horizontal flex Wizard
  &.horizontal {
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow-x: hidden;

    li {
      padding: 35px 10px;
      width: 100%;

      &:last-of-type {
        z-index: 1;

        &:after {
          content: "";
          width: 50%;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          background-color: $white;
          z-index: -1;
        }
      }
      &:before {
        width: 500%;
        top: 13px;
        left: 50%;
        height: 1px;
      }
      :first-child {
        position: relative;

        &:before {
          margin: 0 !important;
          top: -35px;
          left: calc(50% - 13px);
        }
        span {
          display: none;

          @include breakpoint(medium){
            display: inline;
          }
        }
      }
    }
  }
}