<table class="collapse-column">
    <thead>
        <tr>
            <th>Eddard Stark</th>
            <th>Jon Snow</th>
            <th>Arya Stark</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Has a sword named Ice</td>
            <td>Has a sword named Longclaw</td>
            <td>Has a sword named Needle</td>
        </tr>
        <tr>
            <td>No direwolf</td>
            <td>Direwolf: Ghost</td>
            <td>Direwolf: Nymeria</td>
        </tr>
        <tr>
            <td><strong>Lord of Winterfell</strong></td>
            <td><strong>Knows nothing</strong></td>
            <td><strong>No one</strong></td>
        </tr>
    </tbody>
    
</table>