<table class="collapse-column">
    <thead>
        <tr>
            <th>Harry Potter</th>
            <th>Severus Piton</th>
            <th>Hermione Granger</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Grifondoro</td>
            <td>Serpeverde</td>
            <td>Corvonero</td>
        </tr>
        <tr>
            <td>Bacchetta formata da legno di Agrifoglio e un nucleo di Piuma di Fenice</td>
            <td>Bacchetta formata da betulla e crine di unicorno</td>
            <td>Bacchetta formata da vite e corda di cuore di drago</td>
        </tr>
        <tr>
            <td>Patronus Cervo</td>
            <td>Patronus Cerva</td>
            <td>Patronus Lontra</td>
        </tr>
    </tbody>
    
</table>