/* stile per la barra (nera) con le informazioni sulla login e altre info inerenti all'accesso in generale */

/* colore di sfondo più chiaro quando è un menu apri/chiudi */
.title-bar + .u-barra-login .menu {
    @include breakpoint(small only){
      background-color: lighten($barra-login-background, 5%);
    }
  }

.u-barra-login {
  background-color: $barra-login-background;
  color: color-pick-contrast($barra-login-background, (#fff, $base-font-color));
  line-height: 32px;
  padding: 0px;
  @include breakpoint(large only){
    height: 31px;
  }

  //fix per float
  &:after{
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }

  a {
    color: color-pick-contrast($barra-login-background, (#fff, $base-font-color));
    text-decoration: none;
    display: inline-block;
  }

  //sso
  img {
    height: 18px;
    vertical-align: text-top;
    width: 18px;
  }

  .menu {
    float: right;
    border-left: 1px solid $gray;
    > li {
      border-right: 1px solid $gray;
      white-space: nowrap;
      > a {
        @include breakpoint(small only){
          padding: 0.7rem;
        }
        img,
        i{
          min-width: 18px;
          text-align: center;
        }
      }
    }

    @include breakpoint(small only){
      .is-dropdown-submenu{
        background: #fff;
      }
    }
  }

  //elementi senza dropdown arrow
  .no-arrow {
    padding-right: 0 !important;
    &:after { // Nascondo la freccia per dispositivi da medium in su
      display: none !important;
    }
    
  }

  .is-dropdown-submenu {
    border-top: 0;
  }

  .dropdown.menu { // Foundation menu
    opacity: 0;
    transition: opacity 0.5s;
    overflow: hidden;
    
    @include breakpoint(large){
      &[role="menubar"] {
        .is-active{
          &:hover {
            background-color: $white;
            a {
                color: $light-black;
            }
          }
        }
      }
    }
    
    &[role="menubar"] {
      opacity: 1;
      overflow: visible;
      &.vertical {
        > li {
          .is-dropdown-submenu {
            &.vertical {
                margin-left: -1px;
                top: 100%;
            }
          }
        }
      }
      .is-active {
        background-color: $white;
        a {
          color: $light-black;

          &::after {
            border-color: $light-black transparent transparent;
          }
        }
        
        > .is-dropdown-submenu {
          left: -1px;
        }
        &:last-of-type{
          > .is-dropdown-submenu {
            left: auto;
          }
        }
      }
    }
    
    > li {
      transition: opacity 2s linear;
      
      @include breakpoint(large){
        &:hover{
          background-color: $white;
          
          a {
            color: $light-black;
          }
        }
        &.is-dropdown-submenu-parent {
        
          &:hover {
            background-color: #fff;
            
            > a {
              color: $light-black;
            }
          }
        }
        > a{
          &:hover {
            color: $light-black;
            background-color: transparent;
          }
        }

        .menu {
          li {
            a {              
              &:hover {
                background-color: darken($white, 12%);
                color: darken($light-black, 25%);
              }
            }
          }
        }

      }

      .is-dropdown-submenu.vertical {
        min-width: 100%;
      }
      &.is-dropdown-submenu-parent {
        padding-right: 0.7rem;
        transition: background-color 0.2s;
        box-sizing: content-box;
        
        
        > a {
          &:after { // Dropdown Arrow
              border: inset 5px;
              border-top-style: solid;
              right: 5px;
              border-color: currentColor transparent transparent;
            }
        }
        
        .menu {
          li {
            a {
              color: $light-black;
              transition: background-color 0.2s;
              
            }
          }
        }
      }
    }
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent .u-utente-reale {
  color: $dark-gray;
  border-bottom: 1px solid $medium-gray;
  padding: $menu-item-padding;
  white-space: normal;
  background-color: $light-gray;
  p{
    margin: 0;
  }
  i{
    margin-right: $margin-xs;
  }
  strong{
    @include large();
    font-weight: normal;
    color: $black;
  }  
  .u-login-info{
    @include small();
    margin: $margin-xs 0;
    a,
    a:visited,
    a:link{
      color: $primary-color;
      &:hover{
        background-color: transparent;
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
