html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  
  flex-grow: 1;  
  padding: $padding-xs 0;
    @include breakpoint(medium){
    padding: $padding 0;
  }
  &.row.expanded {
    padding: $padding-small 0 0 0;
  }
}

aside.column,
nav.column {
  border-left: 1px solid $e-gray;
  background-color: $light-gray;
}

.column,
.columns {  
  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-content-wrapper {  
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  flex: 1 0 auto;  
  
  header + .row,
  .u-breadcrumbs + .row{
    flex-grow: 1;
    /* layout 2 colonne */
    &.expanded{
      @include breakpoint(large){
        display: flex;
      }
    }
  }
  
  > .row {
    width: 100%;        
  }
}

.u-magellan-menu {
  background-color: $white;
}

.disabled{
  color: $gray;
}