// stile per breadcrumbs in unibo
// aggiunta possibilità di avere il link a home più grande

.u-breadcrumbs {
  flex: none;
  padding: $padding-small;
  display: block;
  border-bottom: 1px solid $e-gray;
  
  .breadcrumbs {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .home {
    @include very-large-fancy();
    font-weight: 300;
    text-transform: none;
    color: $light-black;
    
    a {
      color: inherit;
    }
  }
  + main{
    padding-top: 0;
  }
}

.column .u-breadcrumbs{
  margin-bottom: $margin;
}

main .u-breadcrumbs {
  padding-left: 2px;
  padding-right: 2px;
}