.u-card-option {
  text-align: center;
  margin: $margin-small auto;
  
  h2 {
    margin-bottom: $padding-small;
    font-size: 1.92308rem;
    line-height: 2.92308rem;
  }
  &.fixed-width{
  	width: 300px;
  }
  .button{
  	margin-top: $padding-small;
  }
  &.contact{
    position: relative;
    h2{
      font-size: 1.38462rem;
      line-height: normal;
      margin-top: $margin-xs;
    }
    .info{
      text-align: left;
      max-width: 320px;
      margin: $margin*2 auto $margin;
      padding: 0 $padding-xs;

      &:before{
        content: "";
        display: block;
        border-top: 1px solid #ddd;
        position: absolute;
        width: 200%;
        margin-top: -2em;
        left: -50%;
      }
      .email{
        word-wrap: break-word; 
      }

      @include breakpoint(xxlarge){
        padding: 0 $padding-small;
      }
    }
  }
  &.color-icon{
    i{
      color: $primary-color;
    }
  }
}
