.u-check-card{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card-tile{
        margin: 0 $margin-small;
        margin-bottom: $margin;    
        max-width: 300px;
        min-width: 290px;
        text-align: center;    
        border: 1px solid $border-color;
        box-shadow: 0px 1px 3px $border-color;
        border-radius: 3px;
        padding-top: $padding;
        i{
            color: $primary-color;
            margin-bottom: $margin-small;
        }
        h2{
            margin-bottom: $margin;
        }
        .controls{
            background-color: $light-gray;
            padding: $padding;
            strong{
                display: block;
            }
            input{
                margin-bottom: 0;
            }
            .result{
                margin-bottom: $margin;
            }
        }
        .button{
            margin-bottom: 0;
        }

        &.success{
            i{
                color: $success-color;
            }
            h2{
                color: darken( $success-color, 35% );
            }
        }
        &.failure{
            i{
                color: $alert-color;
            }

            h2{
                color: darken( $alert-color, 15% );
            }
        }
    }
}
