.contact{
    h2{
        font-size: 1.38462rem;
        line-height: normal;
        margin-top: $margin-xs;
    }
    .info{
        text-align: left;
        max-width: 320px;
        padding: $padding-small 0;
          
        .email{
          word-wrap: break-word; 
        }
  
    }
}