// foglio di stile per la gestione dei font

// Cinzel per la testata

@font-face {
    font-family: 'Cinzel';
    font-display: swap;
    src: url('../webfonts/Cinzel-Regular.eot');
    src: url('../webfonts/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Cinzel-Regular.woff') format('woff'),
         url('../webfonts/Cinzel-Regular.ttf') format('truetype'),
         url('../webfonts/Cinzel-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// dimensioni font per titolazioni
@mixin font-size($fontsize) {
  font-size: $fontsize;
}

@mixin x-small-fancy() {
  font-size: rem-calc(13);
}

@mixin small-fancy() {
  font-size: rem-calc(15);
}

@mixin normal-fancy() {
  font-size: rem-calc(16);
}

@mixin large-fancy() {
  font-size: rem-calc(18);
}

@mixin very-large-fancy() {
  font-size: rem-calc(21);
  line-height: rem-calc(26);
}

@mixin huge-fancy() {
  font-size: rem-calc(32);
  line-height: rem-calc(32);
}

//possono essere usati anche come classi

.x-small-fancy{
  @include x-small-fancy();
}
.small-fancy{
  @include small-fancy();
}
.normal-fancy{
  @include normal-fancy();
}
.large-fancy{
  @include large-fancy();
}
.very-large-fancy{
  @include very-large-fancy();
}
.huge-fancy {
  @include huge-fancy();
}



// dimensioni font per testo
@mixin x-small() {
  font-size: rem-calc(10);
  line-height: rem-calc(15);
}

@mixin small() {
  font-size: rem-calc(11);
  line-height: rem-calc(16);
}

@mixin normal() {
  font-size: rem-calc(13);
  line-height: rem-calc(16);
}

@mixin large() {
  font-size: rem-calc(14);
  line-height: rem-calc(19);
}

@mixin very-large() {
  font-size: rem-calc(15);
  line-height: rem-calc(21);
}

@mixin huge() {
  font-size: rem-calc(25);
  line-height: rem-calc(38);
}

//possono essere usati anche come classi

.x-small{
  &:not(.button){
    @include x-small();
  }
}
.small{
  &:not(.button){
    @include small();
  }
}
.normal{
  &:not(.button){
    @include normal();
  }
}
.large{
  &:not(.button){
    @include large();
  }
}
.very-large{
  &:not(.button){
    @include very-large();
  }
}
.huge {
  &:not(.button){
    @include huge();
  }
}
