@mixin u-numbered-list{
    /* numeri lista colorati */
	ol { 
        counter-reset: item;
        margin-left: 0;
      }
      ol li { 
        display: flex;
        margin-bottom: $margin;
        @include large;
      }
      ol li:before {
          display: inline-block;
          margin-right: $margin-small;
          content: counter(item);
          counter-increment: item;
          color: #fff;
          width: 30px;
          height: 30px;
          background-color: $primary-color;
          position: relative;
          top: 4px;
          text-align: center;
          @include very-large-fancy;
          line-height: 30px;
          text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          border-radius: 15px;
          flex-shrink: 0;
          @include breakpoint(medium){
            margin-right: $margin;
        }
      }
}

.u-numbered-list{
    @include u-numbered-list;
}

.u-numbered-list.centered{
    @include u-numbered-list;
    text-align: center;
    ol li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:before{
            margin-right: 0;
            margin-bottom: $margin-small; 
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
        }
        .text-wrap{

        }
    }
}