
//tabella responsive
table{
    &.collapse-column{
        @include breakpoint($table-label-resolution - 1px down){            
            display: flex;
            flex-direction: row;            
            tr,
            th,
            td {
                display: block;
                width: 100%;
            }
            td,
            th {
                border-bottom: 1px solid $e-gray;
                padding-top: $padding-xs;
                padding-bottom: $padding-xs;
                background-color: #fff;
            }
            thead{
                border-bottom: none;
                border-right: none;
                th{
                    font-weight: normal;
                    text-align: left;
                }
                tr{
                    border-bottom: none;
                }
            }
            tbody{
                display: flex;
                flex-grow: 1;
                border-bottom: none;
                text-align: right;
                border-left: none;
                font-weight: bold;
                tr{
                    border-bottom: none;
                }
            }
        }
        .hide-label{
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }
        .show-label{
            @include breakpoint($table-label-resolution - 1px down){
                display: none;
            }
        }
    }
    &.double-label{
        .data-label{            
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }      
        @include breakpoint($table-label-resolution - 1px down){
            display: block;            
            tbody,
            tr,
            td{
                display: block;
            }
            &.unstriped tr{
                border-top: 5px solid $e-gray;
                border-bottom: none;
                &:first-child{
                    border-top: none;
                }
            }            
            .data-row{
                display: flex;
                justify-content: space-between;
                padding-top: $padding-xs;
                padding-bottom: $padding-xs;
                font-weight: bold;
                border-top: 1px solid $e-gray;
                flex-wrap: wrap;
                span{
                    font-weight: normal;
                }
            }
        }
        .hide-label{
            @include breakpoint($table-label-resolution){
                display: none;
            }
        }
        .show-label{
            @include breakpoint($table-label-resolution - 1px down){
                display: none;
            }
        }
    }
}
