.u-survey{
    border: 1px solid $border-color;
    box-shadow: 0px 1px 3px $border-color;
    border-radius: 3px;
    margin-top: $margin-xs;
    .survey-heading{
        text-transform: uppercase;
        padding: $padding-small;
        background-color: $light-gray;
        h1,h2,h3,h4,h5,h6{
            margin: 0;
        }
    }
    .survey-content{
        padding: 0 $padding-small;
        border-top: 1px solid $border-color;
    }
    .text-wrap{
        padding: $padding-small 0;
    }
    .range-value{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 22px;
        @include small();
    }
    .radio-group{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: $padding-small;
        @include breakpoint(large){
            padding: $padding-small 0;
            margin: 0;
        }
        > span{
            text-align: center;
        }
        label{
            text-align: center;
            margin: 0 $margin;
            max-width: none;
        }
        .value{
            display: inline-block;
            min-width: 30px;
            height: 30px;
            line-height: 27px;
            border: 1px solid #ccc;
            border-radius: 50%;
        }
        .legend-label{
            @include small();
            display: block;
            max-width: 100px;
            text-align: center;
            margin-top: $margin-small;
        }
    }

    input[type=radio]{
        @extend .show-for-sr;
        &:checked{
            + label .value{
                background-color: $primary-color;
                border-color: $primary-color;
                color: #fff;
            }
        }
    }
}