.u-section-title{
    background-color: $e-gray;
    padding: $padding-xs $padding-small;
    font-weight: 500;
}

.u-survey-legend{
    border: 1px solid $border-color;
    box-shadow: 0px 1px 3px $border-color;
    border-radius: 3px;
    background-color: #fff;
    padding: 0 $padding-small;
    max-width: 850px;
    margin: 0 auto;
    @include small();
    @include breakpoint(large){
        .row{
            display: flex;
            .column{
                border-left: 1px solid $border-color;
                align-items: flex-end;
                &:first-child{
                    border-left: none;
                }
            }
        }
    }
    .column{
        flex-grow: 1;
        text-align: center;
        padding: $padding-xs;
    }
    .badge{
        @include small();
        line-height: 1.5;
        border: 1px solid #ccc;
        margin-bottom: $margin-xs;
        background: #fff;
        padding: 2px;
        color: inherit;
    }
    p{
        margin: 0;
    }
}

.u-survey{
    border: 1px solid $border-color;
    box-shadow: 0px 1px 3px $border-color;
    border-radius: 3px;
    background-color: #fff;

    //colonne con flex per bordo e allineamento
    .survey-content,
    .survey-heading{
        padding: 0 $padding-small;
        @include breakpoint(large){
            .row{
                display: flex;
                .column{
                    border-left: 1px solid $border-color;
                    align-items: flex-end;
                    &:first-child{
                        border-left: none;
                    }
                }
            }
        }
    }
    .survey-heading{
        background-color: $light-gray;
        h1,h2,h3,h4,h5,h6{
            margin: 0;
        }
    }
    .survey-content{
        border-top: 1px solid $border-color;
        .text-wrap{
            @include large();
            font-weight: 500;
            padding: $padding-xs 0 0;
            @include breakpoint(large){
                font-weight: normal;
            }
        }
    }
    
    .text-wrap{
        padding: $padding-xs 0 $padding-xs;
        display: flex;
        align-items: center;
        height: 100%;
        p{
            line-height: 1.4;
        }
    }
    .range-value{
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: $padding-small 0;
        height: 100%;
        font-weight: 800;
        @include small();
    }
    .radio-group{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: $padding-xs 0 $padding-small;
        @include breakpoint(large){
            padding: $padding-small;
            margin: 0;
        }
        > span{
            text-align: center;
        }
        label{
            text-align: center;
            margin: 0 $margin-small;
            max-width: none;
        }
        .value{
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 50%;
            min-width: 30px;
            height: 30px;
            line-height: 27px;
            @include breakpoint(large){
                min-width: 25px;
                height: 25px;
                line-height: 23px;
            }
        }
        .no-value{
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 50%;
            min-width: 25px;
            height: 25px;
            color: $medium-gray;
            line-height: 20px;
            @include breakpoint(large){
                min-width: 20px;
                height: 20px;
                line-height: 16px;
            }
        }
        .legend-label{
            @include small();
            display: block;
            max-width: 100px;
            text-align: center;
            margin-top: $margin-xs;
        }
    }

    input[type=radio]{
        @extend .show-for-sr;
        &:checked{
            + label {
                .value{
                    background-color: $primary-color;
                    border-color: $primary-color;
                    color: #fff;
                }
                .no-value{
                    background-color: #fff;
                    border: 2px solid $primary-color;
                    color: $primary-color;
                    @include breakpoint(large){
                        margin-top: 1px;
                    }
                }
            }
        }
    }
}