table {
  thead {
    .sort {
      &:after {
        content: '\f0dc';
        position: relative;
        font-family: FontAwesome;
        margin-left: $margin-xs;
      }
      &ed-up {
	      background-color: $primary-color;
        color: color-pick-contrast($primary-color, (#fff, $base-font-color));
        
        &:after {
          content: '\f0de';
          position: relative;
          font-family: FontAwesome;
          margin-left: $margin-xs;
          top: 3px;
        }
      }
      &ed-down {
	      background-color: $primary-color;
        color: color-pick-contrast($primary-color, (#fff, $base-font-color));
        
        &:after {
          content: '\f0dd';
          position: relative;
          font-family: FontAwesome;
          margin-left: $margin-xs;
          top: -3px;
        }
      }
    }
  }
  
  .sorted,
  .sorted-up,
  .sorted-down {
    background-color: lighten($primary-color, 50%);
  }

  &.dark { // Tabella Dark
    thead {
      color: $white;
      background-color: $dark-gray;
    }
  }
  
  &.no-border { // Tabella senza bordi
    thead,
    tbody,
    tfoot {
      border: 0;
    }
  }
}
