// Colors
$red: $alert-color;
$base-font-color: $light-black;


// Paletta colori stati
$u-stati-palette: (
  default: $medium-gray,
  rejected: $alert-color,
  progress: $warning-color,
  completed: $success-color,
);


// Padding e Margin
$margin: $global-margin;
$margin-xs: $margin / 4;
$margin-small: $margin / 2;
$margin-big: $margin * 2;

$padding: $global-padding;
$padding-xs: $padding / 4;
$padding-small: $padding / 2;
$padding-big: $padding * 2;


// Variabili foundation sovrascritte
$border-color: $e-gray;



// *** COMPONENTI UNIBO ***
$theme-color: #2f83cf;
$title-site-color: $light-black;

// Barra login
$barra-login-background: $light-black;

//risoluzione per mostrare/nascondere etichette in tabelle responsive
$table-label-resolution: 860;
