<footer>
  <div class="grid-container full">
    <div class="grid-x expanded grid-padding-x">
    <div class="large-12 cell">
      
      © 2024 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376 - CF: 80007010376
      
      <div class="link-container">
        <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a> |
        <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali">Note legali</a> |
        <a target="_blank" href="https://github.com/unibo/application_theme">GitHub</a>
      </div>
      
    </div> 
  </div>
  </div>
</footer>


