<footer>
  <div class="grid-container">
    <div class="grid-x expanded">
    <div class="large-12 cell">
      
      © 2021 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376
      
      <div class="link-container">
        <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali">Privacy</a> |
        <a target="_blank" href="https://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali">Note legali</a>
      </div>
      
    </div> <!-- end column -->
  </div> <!-- end row -->
  </div>
</footer>


