<div class="multiple-items">
    <div class="u-card-option">
    <h3>Anno 2013</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    <a href="" class="hollow button">Vedi tutto</a>
    </div>
    <div class="u-card-option">
    <h3>Anno 2014</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    <a href="" class="hollow button">Vedi tutto</a>
    </div>
    <div class="u-card-option">
    <h3>Anno 2015</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    <a href="" class="hollow button">Vedi tutto</a>
    </div>
    <div class="u-card-option">
    <h3>Anno 2016</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    <a href="" class="hollow button">Vedi tutto</a>
    </div>
    <div class="u-card-option">
    <h3>Anno 2017</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
    <a href="" class="hollow button">Vedi tutto</a>
    </div>
</div>