<div class="multiple-items">
    <div class="u-buttoncard">
        <button>
        <i class="far fa-2x fa-calendar-alt" aria-hidden="true"></i>
        
        <h3>Anno 2012/2013</h3>
        <p>Consulta le opinioni degli studenti per l'anno 2012/2013</p>
        </button>
        </div>
    <div class="u-buttoncard">
        <button>
            <i class="far fa-2x fa-calendar-alt" aria-hidden="true"></i>
        <h3>Anno 2013/2014</h3>
        <p>Consulta le opinioni degli studenti per l'anno 2013/2014</p>
        </button>
    </div>
    <div class="u-buttoncard">
        <button>
        <i class="far fa-2x fa-calendar-alt" aria-hidden="true"></i>
        <h3>Anno 2014/2015</h3>
        <p>Consulta le opinioni degli studenti per l'anno 2014/2015</p>
    </button>
    </div>
    <div class="u-buttoncard">
        <button>
        <i class="far fa-2x fa-calendar-alt" aria-hidden="true"></i>
        <h3>Anno 2015/2016</h3>
        <p>Consulta le opinioni degli studenti per l'anno 2015/2016</p>
        </button>
    </div>
    <div class="u-buttoncard">
        <button>
        <i class="far fa-2x fa-calendar-alt" aria-hidden="true"></i>
        <h3>Anno 2016/2017</h3>
        <p>Consulta le opinioni degli studenti per l'anno 2016/2017</p>
        </button>
    </div>
    </div>