
<div class="u-action-card horizontal">
        <div class="card-tile margin-bottom-1">
            <div class="grid-x margin-0">
                <div class="cell medium-1 text-center">
                    <i class="fa fa-2x fa-upload colored-icon" aria-hidden="true"></i>
                </div>
    
                <div class="cell medium-7">
                    <h2>Carica un documento</h2>
                    <div class="controls">
                        <input name="doc" id="doc" type="file">
                    </div>
                </div>
                <div class="cell medium-4 text-center">
                    <a href="" class="button button-primary">Verifica la firma</a>
                </div>
            </div>
        </div>
    
        <div class="card-tile disabled margin-bottom-1">
            <div class="grid-x margin-0">
                <div class="cell medium-1 text-center">
                    <i class="fas fa-2x fa-sync-alt" aria-hidden="true"></i>
                </div>
    
                <div class="cell medium-11">
                    <h2>Caricamento...</h2>
                    <div class="controls">
                        <p class="result">
                            Il download inizierà entro 5 secondi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="card-tile success margin-bottom-1">
            <div class="grid-x margin-0">
                <div class="cell medium-1 text-center">
                    <i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>
                </div>
    
                <div class="cell medium-11">
                    <h2>Azione completata</h2>
                    <div class="controls">
                        <p class="result">
                            <strong>nomedocumento.p7m</strong> è risultato valido.
                        </p>
                        <a href="">Carica un altro documento</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card-tile failure margin-bottom-1">
            <div class="grid-x margin-0">
                <div class="cell medium-1 text-center">
                    <i class="fa fa-2x fa-times-circle" aria-hidden="true"></i>
                </div>
    
                <div class="cell medium-11">
                    <h2>Azione non completata</h2>
                    <div class="controls">
                        <p class="result">
                            <strong>nomedocumento.p7m</strong> è risultato non valido.
                        </p>
                        <a href="">Carica un altro documento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>