<div class="title-bar" data-responsive-toggle="barra-login-responsive" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="barra-login-responsive"></button>
  <a class="title-bar-title" data-toggle="barra-login">Menu</a>
</div>

<div class="u-barra-login" id="barra-login-responsive">
  <ul class="dropdown menu horizontal" data-dropdown-menu data-disable-hover="true" data-click-open="true" data-close-on-click="true" data-close-on-click-inside="true">       
    <li>
      <a href="#">
        <img alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">     
        <span>Michele Bracuto</span>
      </a>
      <ul class="menu">
        <li>
          <div class="u-change-user">
              <p class="disabled">
                <i class="fa fa-users" aria-hidden="true"></i>
                <strong>Responsabile</strong>
                <br />
                <a href="#">Attiva questo ruolo</a>
              </p>
          </div>
          <div class="u-change-user">
              <p class="disabled">
                <i class="fa fa-users" aria-hidden="true"></i>
                <strong>Completely engage open-source architectures for virtual services.</strong>
                <br />
                <a href="#">Attiva questo ruolo</a>
              </p>
          </div>
        </li>
        <li>
          <a href="#">Testo</a>
        </li>
        <li>
          <a href="#"><i class="far fa-address-card" aria-hidden="true"></i> Icona e testo</a>
        </li>
        <li>
          <a href="#"><span>Logout</span></a>
        </li>
      </ul>
    </li>

    <li class="u-lang">
      <a href="#">
        <i class="fas fa-globe-americas" aria-hidden="true"></i> 
        <span>IT</span>
      </a>
      <ul class="menu text-right">
        <li>
          <a href="https://www.google.it/?gws_rd=ssl">
            EN
          </a>
        </li>
      </ul>
    </li>
    
    <li>
      <a href="" class="no-arrow">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span class="hide-for-sr-medium-only hide-for-sr-large-only">Impostazioni</span>
      </a>
      <ul class="menu">
        <li>
          <a href="">Impostazioni generali</a>
        </li>
        <li>
          <a href="">Autorizzazioni</a>
        </li>
      </ul>
    </li>
  </ul>
</div> 