<div class="u-barra-login" id="barra-login">
  <ul class="dropdown menu horizontal" data-dropdown-menu data-disable-hover="true" data-click-open="true">
       
    <li>
      <a href="#">
          <i class="ui-user-change" aria-hidden="true"></i>
          <span>Alessandro Alessandrini</span>
      </a>
      <ul class="menu">
        <li>
          <div class="u-utente-reale">
              <p>
                <img alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">     
                <span>Michele Bracuto</span>
              </p>
          </div>
          <div class="u-login-info">
            <p>
            Stai accedendo come <strong>alessadro.alessandrini@unibo.it</strong>, 
            per tornare al tuo utente puoi <a href="">terminare questo impersonamento</a>.
            </p>
          </div>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span></a>
        </li>
      </ul>
    </li>

  </ul>
</div> 