<div class="u-buttoncard">

    <button>
        <i class="fa fa-2x fa-wrench" aria-hidden="true"></i>
        <h2>Gestisci firma</h2>
        <p>Conveniently evisculate resource-leveling niches.</p>    
    </button>

    <button>
        <i class="fa fa-2x fa-file" aria-hidden="true"></i>
        <h2>Firma documento</h2>
        <p>Conveniently coordinate economically sound testing procedures.</p>
    </button>
    
</div>

<div class="u-buttoncard colored">

    <button>
        <i class="fa fa-2x fa-wrench" aria-hidden="true"></i>
        <h2>Gestisci firma</h2>
        <p>Conveniently evisculate resource-leveling niches.</p>    
    </button>
    <button>
        <i class="fa fa-2x fa-file" aria-hidden="true"></i>
        <h2>Firma documento</h2>
        <p>Conveniently coordinate economically sound testing procedures.</p>
    </button>
    <button>
        <i class="fas fa-2x fa-pencil-alt" aria-hidden="true"></i>
        <h2>Modifica Informazioni</h2>
        <p>Intrinsicly reintermediate compelling users with.</p>
    </button>
    
</div>