
<div class="u-callout-light">
    <div class="grid-x">
        <div class="large-16 cell">
            <div class="text-wrapper">
                <h3>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</h3>
                <h4>Sed ut perspiciatis unde omnis iste natus</h4>
            </div>
            <div class="action-wrapper">
                <a href="#" class="button primary">Azione principale</a>
                <a href="#" class="button primary hollow">Azione secondaria</a>
            </div>
        </div>
    </div>
</div>
