
<div class="u-callout-center">
    <div class="grid-x">
        <div class="cell">
            <div class="text-wrapper">
                <h2>Sed ut perspiciatis unde omnis iste natus</h2>
                <h3>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</h3>
                <div class="action-wrapper">
                    <a href="#" class="button primary">Azione principale</a>
                    <a href="#" class="button secondary">Azione secondaria</a>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="u-callout-center transparent">
    <div class="grid-x">
        <div class="cell">
            <div class="text-wrapper">
                <h2>Sed ut perspiciatis unde omnis iste natus</h2>
                <h3>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</h3>
                <div class="action-wrapper">
                    <a href="#" class="button primary">Azione principale</a>
                    <a href="#" class="button secondary">Azione secondaria</a>
                </div>
            </div>
        </div>
    </div>
</div> 
    