<div class="contact colored-icon">
    <h2>Supporto dell'applicativo Firma digitale remota</h2>
    <p>Contattaci per avere informazioni, segnalare un'anomalia, inviare un suggerimento.</p>
    <div class="info">
        <h3>CeSIA - Settore Sistemi e middleware - Ufficio Unità specialistica Identità digitale </h3>
        <p class="email">
            <i class="far fa-envelope" aria-hidden="true"></i> cesia.firmadigitale@unibo.it
        </p>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> 051 202020
        </p>
        <p>
        <i class="far fa-clock" aria-hidden="true"></i> Orari di apertura: dal Lunedì al Giovedì 9-13; 14-17; Venerdì 9-14</p>
    </div>
</div>