<div class="u-comparison-card">

    <div class="card-tile">
        <i class="fa fa-3x fa-mobile" aria-hidden="true"></i>
        <h2>SMS</h2>
        <p>Energistically deliver user-centric systems without orthogonal catalysts for change. Synergistically productivate market positioning niches whereas distributed best practices.</p>
        
        <div class="text-wrap">
                <h3 class="best">Vantaggi</h3>
                <ul>
                    <li>Interactively maintain fully researched materials after stand-alone</li>
                    <li>Materials after stand-alone web-readiness</li>
                    <li>Assertively morph client-centered leadership</li>
                </ul>
            </div>
            <div class="text-wrap">
                <h3 class="worst">Svantaggi</h3>
                <ul>
                    <li>Uniquely supply corporate ideas with distributed communities</li>
                    <li>Skills before multidisciplinary scenarios</li>
                    <li>Globally streamline flexible infrastructures</li>
                </ul>
            </div>
    </div>

    <div class="card-tile">
        <i class="fa fa-3x fa-rocket" aria-hidden="true"></i>
        <h2>APP</h2>
        <p>Conveniently coordinate economically sound testing procedures.</p>
        <div class="text-wrap">
            <h3 class="best">Vantaggi</h3>
            <ul>
                <li>Rather than sustainable data</li>
                <li>Energistically productize performance based potentialities</li>
                <li>Ethical synergy</li>
            </ul>
        </div>
        <div class="text-wrap">
            <h3 class="worst">Svantaggi</h3>
            <ul>
                <li>Monotonectally promote B2C initiatives</li>
                <li>Future-proof e-services</li>
                <li>Proseculim sot risulum</li>
            </ul>
        </div>
    </div>
    
</div>