<div class="u-dropdown margin-bottom-1">
    <div class="grid-x grid-padding-x" data-toggle="item-dropdown down up">
        <div class="cell medium-11">
            <h3 class="label-dropdown">Scopri come fare: Registrazione della richiesta</h3>
        </div>

        <div class="cell medium-1 text-right">
            <i id="down" data-toggler=".hide" class="fas fa-chevron-down color-light" aria-hidden="true" aria-expanded="false"></i>
            <i id="up" data-toggler=".hide" class="fas fa-chevron-up hide color-light" aria-hidden="true" aria-expanded="false"></i>
        </div>
    </div>

    <div class="grid-x grid-padding-x dropdown-content" id="item-dropdown"  data-toggler=".is-open">
        <div class="cell medium-12">
            <div class="padding-top-half padding-bottom-half">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IQtXfMdTG6I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="u-dropdown margin-bottom-1">
    <div class="grid-x grid-padding-x" data-toggle="item-dropdown1 down up">

        <div class="cell medium-11">
            <h3 class="label-dropdown">Credibly promote covalent</h3>
        </div>

        <div class="cell medium-1 text-right">
            <i id="down" data-toggler=".hide" class="fas fa-chevron-down color-light" aria-hidden="true" aria-expanded="false"></i>
            <i id="up" data-toggler=".hide" class="fas fa-chevron-up hide color-light" aria-hidden="true" aria-expanded="false"></i>
        </div>
    </div>

    <div class="grid-x grid-padding-x dropdown-content" id="item-dropdown1"  data-toggler=".is-open">
        <div class="cell medium-12">
            <div class="padding-top-half padding-bottom-half">
                    Quickly cultivate transparent paradigms before goal-oriented innovation. Credibly promote covalent intellectual capital after competitive technology. Uniquely productize sustainable partnerships via goal-oriented web services. Objectively provide access to standardized manufactured products through client-based materials. Dramatically orchestrate compelling users via long-term high-impact e-business.
            </div>
        </div>
    </div>
</div>
