
<div class="grid-x expanded u-lead-colored">
    <div class="small-12 small-centered medium-8 medium-centered large-8 large-centered cells">
        <div class="container text-center">
            <h1>Occupabilità e ricerca attiva del lavoro</h1>
            <div class="text-wrap">
                <p>Questionario riguardante l'inserimento nel mondo del lavoro da parte dei laureandi, in termini di occupazione e ricerca attiva.</p>
            </div>
        </div>
        <div class="progress margin-top-1" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 25%">
            <p class="progress-meter-text">25%</p>
            </span>
        </div>
        <p class="small margin-top-half text-center">Pagina 1/10</p>
    </div>
</div>