<ul class="menu vertical u-menu u-menu-main">
  <li>
    <a href="">
      <i class="fa fa-home"></i> Home
    </a>
  </li>
  

  <li class="selected">
    <a href="">
      <i class="fa fa-user"></i> Elenco Utenze
    </a>
    <ul class="nested vertical menu">
      <li class="selected"><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </li>

  <li>
    <a href="">
      <i class="fas fa-phone-alt"></i> Elenco Apparati
    </a>
  </li>

  <li>
    <a href="">
      <i class="far fa-clock"></i> Storico Richieste
    </a>
  </li>
</ul>
