<ul class="menu vertical u-menu u-menu-main u-main-menu-icons">
  <li>
    <a href="">
      <i class="fa fa-home"></i>
      <span class="hide-for-sr-small-only">Home</span>
    </a>
  </li>

  <li class="selected">
    <a href="">
      <i class="fa fa-user"></i>
      <span class="hide-for-sr-small-only">Elenco Utenze</span>
    </a>
  </li>

  <li>
    <a href="">
      <i class="fa fa-phone"></i>
      <span class="hide-for-sr-small-only">Elenco Apparati</span>
    </a>
  </li>

  <li>
    <a href="">
      <i class="far fa-clock"></i>
      <span class="hide-for-sr-small-only">Storico Richieste</span>
    </a>
  </li>
</ul>
