
<ul class="u-media-list margin-top-1 margin-bottom-1">
    <li>
        <div class="row">
            <div class="column medium-8">
                <div class="media-wrap primary">
                    <div class="icon-wrap margin-right-1">
                        <i class="fa fa-lg fa-question" aria-hidden="true"></i>
                    </div>
                    <div class="text-wrap">
                        <h2>Occupabilità e ricerca attiva del lavoro - Parte 1 </h2>
                    </div>
                </div>
            </div>
            <div class="column medium-4 text-right">
                <a href="" class="button secondary">Compila</a>
            </div>
        </div>
    </li>
    
    <li>
        <div class="row">
            <div class="column medium-12">
                <div class="media-wrap disabled">
                    <div class="icon-wrap margin-right-1">
                        <i class="fa fa-lg fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div class="text-wrap">
                        <h2>Occupabilità e ricerca attiva del lavoro - Parte 2</h2>
                    </div>
                </div>
            </div>
        </div>
    </li>
    
    
    <li>
        <div class="row">
            <div class="column medium-8">
                <div class="media-wrap success">
                        <div class="icon-wrap margin-right-1">
                            <i class="fa fa-lg fa-check" aria-hidden="true"></i>
                        </div>
                    <div class="text-wrap">
                        <h2>Occupabilità e ricerca attiva del lavoro - Parte 3 </h2>
                        <p>Ultima compilazione: 20/09/2018 13:50:00 </p>
                    </div>
                </div>
            </div>
            <div class="column medium-4 text-right">
                <a href="" class="button secondary">Visualizza report</a>
            </div>
        </div>
    </li>
    
    <li>
        <div class="row">
            <div class="column medium-11">
                <div class="media-wrap failure">
                    <div class="icon-wrap margin-right-1">
                        <i class="fa fa-lg fa-times" aria-hidden="true"></i>
                    </div>
                    <div class="text-wrap">
                        <h2>Occupabilità e ricerca attiva del lavoro - Parte 4</h2>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>