<ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true" data-close-on-click="true" data-close-on-click-inside="true">
    <li class="u-menu-tools">
        <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <ul class="menu">
            <li>
                <a title="Opzione 1" href="#">
                    <span>Opzione 1</span>
                </a>
            </li>
            <li>
                <a title="Opzione 2" href="#">
                    <span>Opzione 2</span>
                </a>
            </li>
            <li>
                <a onclick="return confirm('Attenzione! ...');" title="Elimina" href="#">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    <span>Elimina</span>
                </a>
            </li>
        </ul>
    </li>
</ul>