<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div id="example-menu">
    <ul class="vertical menu u-menu u-menu-main">
      <li>
        <a href="#">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="selected">
        <a href="#">
          <i class="fa fa-user"></i> Elenco Utenti 
        </a>
        <ul class="nested vertical menu">
          <li class="selected"><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      
    </ul>
</div>
