<a class="button tiny sso" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
<a class="button sso small" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
<a class="button sso" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
<a class="button sso large" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
<a class="button sso expanded" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
<a class="button sso large expanded" href="#">
  <img loading="lazy" alt="Logo Single Sign-On di Ateneo" src="../assets/img/ssologo36x36.png">
  Login
</a>
