<p class="section-description">Stati</p>
<pre>
  <code>
<p class="u-state-default"><i class="fa fa-circle" aria-hidden="true"></i>Default</p>
<p class="u-state-completed"><i class="fa fa-circle" aria-hidden="true"></i>Completato</p>
<p class="u-state-progress"><i class="fa fa-circle" aria-hidden="true"></i>Attesa</p>
<p class="u-state-rejected"><i class="fa fa-circle" aria-hidden="true"></i>Rifiutato</p>    
  </code>
</pre>
<p class="u-state-default"><i class="fa fa-circle" aria-hidden="true"></i>Default</p>
<p class="u-state-completed"><i class="fa fa-circle" aria-hidden="true"></i>Completato</p>
<p class="u-state-progress"><i class="fa fa-circle" aria-hidden="true"></i>Attesa</p>
<p class="u-state-rejected"><i class="fa fa-circle" aria-hidden="true"></i>Rifiutato</p>

<p class="section-description">Esempi personalizzazione con icone</p>
<pre>
  <code>
<p class="u-state-default"><i class="fa fa-check" aria-hidden="true"></i>Default con altra icona</p>
<p class="u-state-default"><i class="fa fa-square" aria-hidden="true"></i>Default con altra icona</p>
<p class="u-state-default"><i class="fa fa-minus" aria-hidden="true"></i>Default con altra icona</p>
 <p class="u-state-progress"><i class="fas fa-circle-notch fa-spin" aria-hidden="true"></i>Attesa con altra icona e spin</p>    
  </code>
</pre>
<p class="u-state-default"><i class="fa fa-check" aria-hidden="true"></i>Default con altra icona</p>
<p class="u-state-default"><i class="fa fa-square" aria-hidden="true"></i>Default con altra icona</p>
<p class="u-state-default"><i class="fa fa-minus" aria-hidden="true"></i>Default con altra icona</p>
<p class="u-state-progress"><i class="fas fa-circle-notch fa-spin" aria-hidden="true"></i>Attesa con altra icona e spin</p>
