<div class="u-survey margin-bottom-1" id="survey_question_71">
        <div class="survey-content">
            <div class="grid-x">
                <div class="large-12 cell">
                    <div class="text-wrap">
                        <p class="question">71. Che tipo di lavoro stai cercando?</p>
                    </div>
                    <span id="MainContent_MainContent_ItemDomanda1_SectionView_responseValidator_0" style="display:none;"></span>
                    <div id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0" class="check-group-vertical">

                        <span><input id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_1" type="checkbox" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$optionResponse$1" value="a"><label for="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_1"><span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span><span class="legend-label">Contratto di lavoro dipendente a tempo indeterminato</span></label></span>
                        <span><input id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_2" type="checkbox" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$optionResponse$2" value="b"><label for="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_2"><span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span><span class="legend-label">Contratto di lavoro dipendente a tempo determinato</span></label></span>
                        <span><input id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_3" type="checkbox" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$optionResponse$3" value="c"><label for="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_3"><span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span><span class="legend-label">Esperienza di tirocinio</span></label></span>
                        <span><input id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_4" type="checkbox" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$optionResponse$4" value="d"><label for="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_4"><span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span><span class="legend-label">Lavoro autonomo</span></label></span>
                        <span><input id="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_5" type="checkbox" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$optionResponse$5" value="e"><label for="MainContent_MainContent_ItemDomanda1_SectionView_optionResponse_0_5"><span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span><span class="legend-label">Qualsiasi tipo di lavoro</span></label></span>
                    </div>
                    <input type="hidden" name="ctl00$ctl00$MainContent$MainContent$ItemDomanda1$SectionView$ctl00$idDomanda" id="MainContent_MainContent_ItemDomanda1_SectionView_idDomanda_0" value="71">
                </div>
            </div>
        </div>
    </div>