<div class="grid-x u-survey-legend margin-top-1 show-for-large">
    <div class="cell medium-2">
        <span class="badge">1</span>
        <p>Completamente in disaccordo</p>
    </div>
    <div class="cell medium-2">
        <span class="badge">2</span>
        <p>Abbastanza in disaccordo</p>
    </div>
    <div class="cell medium-2">
        <span class="badge">3</span>
        <p>Né in disaccordo né d’accordo</p>
    </div>
    <div class="cell medium-2">
        <span class="badge">4</span>
        <p>Abbastanza d’accordo</p>
    </div>
    <div class="cell medium-2">
        <span class="badge">5</span>
        <p>Completamente d'accordo</p>
    </div>
</div>