<div class="u-survey border-1 margin-top-1">
    <div class="survey-content">
        <div class="row">
            <div class="large-6 column">
                <div class="text-wrap">
                    <p>
                        3. Assertively disseminate technically sound vortals after web-enabled infrastructures. Completely impact multifunctional core competencies rather than flexible quality vectors?
                    </p>
                </div>
            </div>
            <div class="large-6 column">
                <div class="radio-group">
                    <span>
                        <input type="radio" name="survey2" value="1" id="minimo2">
                        <label for="minimo2">
                            <span class="value">1</span>
                            <span class="legend-label">Completamente in disaccordo</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey2" value="2" id="unpo2">
                        <label for="unpo2">
                            <span class="value">2</span>
                            <span class="legend-label">Più no che sì</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey2" value="3" id="meta2" checked>
                        <label for="meta2">
                            <span class="value">3</span>
                            <span class="legend-label">Indifferente</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey2" value="4" id="quasi2">
                        <label for="quasi2">
                            <span class="value">4</span>
                            <span class="legend-label">Più si che no</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey2" value="5" id="massimo2">
                        <label for="massimo2">
                            <span class="value">5</span>
                            <span class="legend-label">Completamente d'accordo</span>
                        </label>
                    </span>
                </div>

            </div>
        </div>
    </div>
    
</div>
<div class="u-survey border-1 margin-top-1">
    <div class="survey-content">
        <div class="row">
            <div class="large-6 column">
                <div class="text-wrap">
                    <p>
                        4. Dynamically supply fully researched vortals with best-of-breed technologies. Conveniently conceptualize 24/365.?
                    </p>
                </div>
            </div>
            <div class="large-6 column">
                <div class="radio-group">
                    <span>
                        <input type="radio" name="survey3" value="1" id="minimo3">
                        <label for="minimo3">
                            <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span class="legend-label">Negative</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey3" value="3" id="unpo3">
                        <label for="unpo3">
                            <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span class="legend-label">Nella media</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="survey3" value="3" id="meta3" checked>
                        <label for="meta3">
                            <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span class="legend-label">Positive</span>
                        </label>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>