
<div class="u-survey border-1 margin-top-1">
        <div class="survey-content">
            <div class="row">
                <div class="large-12 column">
                    <div class="text-wrap">
                        <p>
                            5. Continually fabricate future-proof opportunities with integrated supply chains. Professionally evisculate real-time?
                        </p>
                    </div>
                    <div class="radio-group-vertical">
                        <span>
                            <input type="radio" name="survey4" value="1" id="minimo4">
                            <label for="minimo4">
                                <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="legend-label">Negative</span>
                            </label>
                        </span>
                        <span>
                            <input type="radio" name="survey4" value="3" id="unpo4">
                            <label for="unpo4">
                                <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="legend-label">Nella media</span>
                            </label>
                        </span>
                        <span>
                            <input type="radio" name="survey4" value="4" id="meta4" checked>
                            <label for="meta4">
                                <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="legend-label">Positive</span>
                            </label>
                        </span>
                        <span>
                            <input type="radio" name="survey4" value="5" id="meta5">
                            <label for="meta5">
                                <span class="no-value"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span class="legend-label">In un ambito coerente al tuo percorso di studi</span>
                            </label>
                        </span>
                        
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    