<div class="u-top-bar">
    <div class="top-bar-box">
        <select>
            <option value="husker">Tutti i centri</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Cesia</option>
            <option value="apollo">Apollo</option>
        </select>
        <input type="text" placeholder="Nome" />
        <button class="button primary" href="#">
            Aggiungi nuovo
        </button> 

    </div>

    <div class="top-bar-box u-button-group">
        <button class="button secondary" href="#">
            <i class="fa fa-download" aria-hidden="true"></i>
            Esporta dati
        </button>   
        <button class="button alert" href="#">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
            Elimina dati
        </button>

    </div>

</div>