<div class="u-grid-form" >
  <form data-abide novalidate>
    
    <div class="grid-x grid-padding-x grid-padding-x">
      <div class="medium-8 end cell">
        <label class="lead required" for="el_text2">Text con info</label>
        <p class="subheader">Informazioni aggiuntive alla compilazione</p>
        <input id="el_text2" required type="text" placeholder="Input placeholder">
        <p class="help-text">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <strong>Attenzione: </strong>Avviso per la compilazione
        </p>
      </div>
    </div>

    <div class="grid-x grid-padding-x">       
      <div class="medium-8 end cell">
        <label class="lead required" for="el_select">Select</label>
        <p class="subheader">Informazioni aggiuntive per la compilazione</p>
        <select required id="el_select">
          
          <option selected disabled value="">Seleziona opzione</option>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
        <p class="help-text">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <strong>Attenzione: </strong>Avviso per la compilazione
        </p>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label class="lead">Checkboxes</label>
        <p class="subheader">Questo componente ha una opzione per riga e utilizza dei div</p>
          <fieldset>
            <div>
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">Authoritatively</label>
            </div>
            <div>
              <input id="checkbox2" type="checkbox">
              <label for="checkbox2">Progressively</label>
            </div>
            <div>
              <input id="checkbox3" type="checkbox">
              <label for="checkbox3">Energistically</label>
            </div>
          </fieldset>
      </div>
    </div>

  </form>
</div>