<div class="u-grid-form">
  <form data-abide novalidate>
    
    <div class="grid-x">
      <div class="medium-3 cell">
        <h2 class="title-fieldset">
          Titolo del fieldset
        </h2> 
      </div>
    </div>

    <div data-abide-error class="alert callout" style="display: none;">
      <p>There are some errors in your form.</p>
    </div>

    <div class="grid-x">
      <div class="medium-3 cell">
        <label class="text-right lead required" for="nest_el_text">Text</label>
      </div>
      <div class="large-4 medium-8 cell end">
        <p class="subheader">Informazioni aggiuntive alla compilazione</p>
        <input id="nest_el_text" type="text" placeholder="Insert 6 or more characters" required pattern=".{6,}">
      </div>
    </div>

    <div class="grid-x">
      <div class="medium-3 cell">
        <label class="text-right lead required" for="nest_el_text2">Text con info</label>
        <p class="text-right subheader">L'aiuto contestuale (qualora la label non fosse sufficiente)</p>
      </div>
      <div class="large-4 medium-8 end cell">
        <p class="subheader">Informazioni aggiuntive alla compilazione</p>
        <input id="nest_el_text2" required type="text" placeholder="Input placeholder">
        <p class="help-text">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <strong>Attenzione: </strong>Avviso per la compilazione
        </p>
      </div>
    </div>

    <div class="grid-x">
      <div class="medium-3 cell">
        <label class="text-right lead required" for="nest_el_select">Select</label>
        <p class="text-right subheader">L'aiuto contestuale (qualora la label non fosse sufficiente)</p>
      </div>
       
      <div class="large-4 medium-8 end cell">
        <p class="subheader">Informazioni aggiuntive per la compilazione</p>
        <select required id="nest_el_select">
          
          <option selected disabled value="">Seleziona opzione</option>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
        <p class="help-text">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <strong>Attenzione: </strong>Avviso per la compilazione
        </p>
      </div>
    </div>

    <div class="grid-x">
      <div class="medium-3 cell">
          <label class="text-right lead">Checkboxes</label>
      </div>
      <div class="medium-9 cell">
        <p class="subheader">E' indicato quando le opzioni hanno un testo breve e quando si ha la necessità di avere una form compatta ma ordinata</p>
        <fieldset>
          <div class="grid-x">
            <div class="medium-4 cells">
              <input id="nest_checkbox4" type="checkbox">
              <label for="nest_checkbox4">Authoritatively empower 2.0</label>
            </div>
            <div class="medium-4 cells">
              <input id="nest_checkbox5" type="checkbox">
              <label for="nest_checkbox5">Progressively synthesize</label>
            </div>
            <div class="medium-4 cells">
              <input id="nest_checkbox6" type="checkbox">
              <label for="nest_checkbox6">Energistically administrate</label>
            </div>
            <div class="medium-4 cells">
              <input id="nest_checkbox7" type="checkbox">
              <label for="nest_checkbox7">Seamless mindshare</label>
            </div>
            <div class="medium-4 cells end">
              <input id="nest_checkbox8" type="checkbox">
              <label for="nest_checkbox8">Quickly strategize</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="grid-x">
      <div class="medium-3 cell">
        <label class="text-right lead">Radio</label>
      </div>
      <div class="medium-9 cell">
        <p class="subheader">Informazioni aggiuntive alla compilazione</p>
       
        <fieldset>
          <div class="grid-x">
            <div class="medium-6 cells">
              <input type="radio" name="nest_radio1" value="Red" id="nest_radio1">
              <label for="nest_radio1">Proactively iterate accurate</label>
            </div>
            <div class="medium-6 cells end">
              <input type="radio" name="nest_radio1" value="Blue" id="nest_radio2">
              <label for="nest_radio2">Alignments after bricks-and-clicks channels</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="grid-x">
      <div class="medium-9 cell medium-offset-3">
        <button class="button secondary" type="reset">Reset</button>
        <button class="button primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>