{{!-- This is the styleguide layout for your project. If you want to use this template use layout: styleguide at the top of your page --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> head}}
    <title> {{ title }} </title>

  </head>

  <body>
    <div class="grid-container padded">
      <div class="grid-x grid-margin-x" data-sticky-container>
        <div class="large-3 show-form-medium">
          <nav class="docs-toc-wrap sticky-container" id="docsToc" data-sticky-container="">
              <div class="toc docs-toc  sticky is-at-top is-stuck">
                  <a class="back" href="../"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Indietro</a>
              </div>
          </nav>
        </div>
        <div class="large-9 medium-8 cell">
          <section>
            {{!-- Pages you create in the src/pages/styleguide are inserted here when the flattened page is created. --}}

            {{> body }}
          </section>
        </div>
      </div>
    </div>

    {{> end_of_body}}

  </body>
</html>
