{{!-- This is the styleguide layout for your project. If you want to use this template use layout: styleguide at the top of your page --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    <main class="grid-container padded">
      <div class="grid-x grid-margin-x">
        <div class="large-3 columns show-for-large">
          <nav class="docs-toc-wrap sticky-container" id="docsToc" data-sticky-container>
              <div class="docs-toc sticky is-at-top is-stuck" data-sticky-on>
                  <a class="back" href="../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>Indietro
                  </a>
              </div>
          </nav>
        </div>    

        <div class="large-9 columns medium-8 cell styleguide">
          <section>
            {{!-- Pages you create in the src/pages/styleguide are inserted here when the flattened page is created. --}}
            {{> body }}
          </section>
        </div>
      </div>
    </main>
    {{> end_of_body}}
  </body>
</html>
