html, body {
  height: 100%;
}

blockquote {
  quotes: none;
}

q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  
  > th {
    background-color: #efefef;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }
  
  > td {
    background-color: white;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
  }
}

main {
  padding: $padding-xs 0;
  
  @media screen and (min-width: $medium){
    padding: $padding 0;
  }
  
  &.row.expanded {
    padding: $padding 0 0 0;
  }
}

aside {
  border-left: 1px solid $border-color;
  background-color: $background-menu;		
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  margin-bottom: 0.7em;
}

h2 {
  margin-bottom: 0.5em;
}

h3 {
  margin-bottom: 0.3em;
}

h4 {
  margin-bottom: 0.2em;
}

h5 {
  margin-bottom: 0.1em;
}

h6 {
  line-height: 0.9em;
  margin-bottom: 0.1em;
}

p {
  margin-bottom: 0.5em;
}

strong {
  font-weight: bold;
}

a {
  color: #1d6684;
}

.column,
.columns {  
  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  
  > .row {
    flex-grow: 1;
    width: 100%;
      
    @media screen and (min-width: $large) {
      
      display: flex;
      min-height: 100%;
      
    }
  }
}

.warning-message{
  display: block;
  margin: -$padding;
  margin-left: -$padding/2;
  margin-right: -$padding/2;
  margin-bottom: $padding;
  padding: $padding/2;
  background-color: $background-warning-message;
  
  &::before{
    margin-right: $padding-small;
    content: "\f06a";
    font: normal normal normal 14px/1 FontAwesome;
  }
}

.u-magellan-menu {
  background-color: white;
}