.box-option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: $padding-xs 0;
  
  > div {
    width: 300px;
    text-align: center;
    margin: $margin-small;
    
    @media screen and (min-width: $medium) {
      margin: $margin;
    }
  }
  
  i {
    @include large-icon();
  }
  
  h2 {
    @include huge();
    margin-bottom: $padding-small;
  }
  
  .text-wrapper {
    margin-bottom: $padding-small;
    
    p {
      line-height: 1.5em;
    }
  }
  
  .mobile {
    
    i {
      @include font-size(35);
    }
  }
  
  @media screen and (min-width: $medium){
    flex-direction: row;
  }
}