// Custom Buttons
.button.secondary,
.button.hollow.secondary {
  border: 1px solid #ddd;
}
.button.hollow.secondary {
  border: 1px solid #cbcbcb;
  color: #747474;
}

// Styling foundation buttons with fa's icon
.button {
  .fa {
    margin-right: $margin-xs;
  }
  .show-for-sr + .fa {
    margin-right: 0;
  }
}
