/* Custom Buttons */

.button.secondary, .button.hollow.secondary {
  border: 1px solid #ddd;
}
.button.hollow.secondary {
  border: 1px solid #cbcbcb;
  color: #747474;
}

@mixin btn-hover-bg($bgcolor){
  background-color: darken($bgcolor, 10%);
}

@mixin btn() {
  @include normal();
  border: 1px solid $border-dark;
  background-color: $background-button;
  cursor: pointer;
  display: inline-block;
  margin-bottom: $padding-small;
  padding: 7px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $base-font-color;
  margin-right: $padding-xs;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  
  &:hover {
    @include btn-hover-bg($background-button);
    color: $base-font-color;
  }
}

.btn {
  @include btn();
}

@mixin btn-w-icon() {
  &:before{
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: $padding-small;
  }
}

@mixin only-icon() {
  border: none;
  background-color: transparent;
  padding: 0;
  &:before{
    margin-right: 0;
  }
}

.only-icon {
  border: none;
  background-color: transparent;
  padding: 0;
  &:before{
    margin-right: 0;
  }
}

@mixin btn-primary() {
  @include btn();
  background-color: $primary;
  color: #fff;
  border: 1px solid $primary;
  
  &:hover {
    @include btn-hover-bg($primary);
    color: #fff;
  }
}

.btn-primary {
  @include btn();
  background-color: $primary;
  color: #fff;
  border: 1px solid $primary;
  
  &:hover {
    @include btn-hover-bg($primary);
    color: #fff;
  }
}

.btn-alert {
  @include btn();
  background-color: $error;
  border: 1px solid $error;
  color: #fff;
  
  &:hover {
    @include btn-hover-bg($error);
    color: #fff;
  }
}

.btn-success {
  @include btn();
  background-color: $success;
  border: 1px solid $success;
  color: #333;
  
  &:hover {
    @include btn-hover-bg($success);
    color: #333;
  }
}

.btn-disabled {
  @include btn();
  color: $medium-gray;
  pointer-events:none;
  
  &:hover {
    color: $medium-gray;
  }
}

.editable{
  .btn{
    @include only-icon();
    margin: 0;
    padding: 6px 8px;
    float: right;
  }
  
  &:hover {
    @include btn-hover-bg($background-button);
    color: $base-font-color;
  }
}

.export{
  @include btn-w-icon();
  &:before{
    content: "\f019";
  }
}

.edit{
  @include btn-w-icon();
  &:before{
    content: "\f040";
  }
}

.remove{
  @include btn-w-icon();
  &:before{
    content: "\f05e";
  }
}

.exchange{
  @include btn-w-icon();
  &:before{
    content: "\f0ec";
  }
}

.log{
  @include btn-w-icon();
  &:before{
    content: "\f017";
  }
}

// Styling foundation buttons with fa's icon
.button {
  .fa {
    margin-right: $margin-xs;
  }
  .show-for-sr + .fa {
    margin-right: 0;
  }
}
