/* dimensioni font per titolazioni */

@mixin font-size($fontsize) {
  font-size: $fontsize;
}

@mixin x-small-fancy() {
  font-size: 13px;
}

@mixin small-fancy() {
  font-size: 15px;
}

@mixin normal-fancy() {
  font-size: 16px;
}

@mixin large-fancy() {
  font-size: 18px;
}

@mixin very-large-fancy() {
  font-size: 21px;
  line-height: 26px;
}

@mixin huge-fancy() {
  font-size: 32px;
  line-height: 32px;
}

/* dimensioni font per testo */
@mixin x-small() {
  font-size: 10px;
  line-height: 15px;
}

@mixin small() {
  font-size: 11px;
  line-height: 16px;
}

@mixin normal() {
  font-size: 13px;
  line-height: 16px;
}

@mixin large() {
  font-size: 14px;
  line-height: 19px;
}

@mixin very-large() {
  font-size: 15px;
  line-height: 21px;
}

@mixin huge() {
  font-size: 25px;
  line-height: 38px;
}

/* dimensioni per icon font */

@mixin small-icon() {
  font-size: 16px;
  line-height: 16px;
}

@mixin normal-icon() {
  font-size: 20px;
  line-height: 20px;
}

@mixin medium-icon() {  
  font-size: 22px;
  line-height: 22px;
}

@mixin large-icon() {
  font-size: 30px;
  line-height: 30px;
}

.huge {
  @include huge();
}