/* foglio di stile per la gestione dei font */

//Cinzel per la testata

@font-face {
    font-family: 'Cinzel';
    src: url('../webfonts/Cinzel-Regular.eot');
    src: url('../webfonts/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Cinzel-Regular.woff') format('woff'),
         url('../webfonts/Cinzel-Regular.ttf') format('truetype'),
         url('../webfonts/Cinzel-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}