/* Application Footer */

footer {
  -webkit-text-size-adjust: 100%;
  background-color: #666666;
  background-image: linear-gradient(#666666, #444444);
  color: white;
  padding: @padding 0;
  text-align: center;
  line-height: 1.4;
  
  @media screen and (min-width: @large){
    line-height: normal;
    text-align: left;
  }
  
  .link-container {
    padding: @padding-xs;
    text-align: center;
    
    @media screen and (min-width: @large){
      float: right;
      padding: 0;
    }
  }
  
  a,
  a:visited,
  a:hover,
  a:link {
    color: white;
    text-decoration: underline;
  }
}

