/* header con sigillo allineato a sinistra */

header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e7e7e7;
  flex: none;
  padding: 0;
  width: 100%;
  
  .logo {
    background-image: url("../img/sigillo2x.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: auto 70px;
    border: medium none;
    display: inline-block;
    max-width: 100%;
    padding: 25px 0px 25px 78px;
    /* alma mater studiorum */
    .alma{
      color: #333;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    /* nome dell'applicativo */
    color: $primary;
    font-family: "Cinzel", san-serif;
    font-size: 2rem;
    line-height: 1em;
    
    @media screen and (min-width: $medium){
      background-size: auto 100px;
      padding: 35px 0px 35px 130px;
    }
    
  }
}

.info-page {
  flex: none;
  padding: $padding-small 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid $border-color;
  
  h1 {    
    font-size: 2em;
    margin-bottom: 0;
    float: left;
    color: $primary;
  }
  
  h2 {
    font-weight: 200;
    margin-bottom: 0;
  }
  
  .title {
    @include normal-fancy();
    margin-bottom: 0;
    float: left;
    color: $base-font-color;
    text-decoration: none;
    font-weight: 300;
    line-height: 38px;
    @media screen and (min-width: $medium){
      @include huge();
    }
  }
  
  .home {
    @include very-large();
  }
  
  .breadcrumbs {
    float: left;
    margin: 0 $padding-xs;
    @include normal-fancy();
    line-height: 38px;
    
    .separator {
      
      @media screen and (min-width: $medium){
        margin-right: $padding-small;
        margin-left: $padding-small;
      }
    }
    
    a {
      color: $base-font-color;
      text-decoration: none;
    }
  }
}


@media screen and (max-width: 768px) {
  
  header .logo {
    padding-right: 10px;
  }
  
}
