/* Application Footer */

header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e7e7e7;
  flex: none;
  padding: 0;
  width: 100%;
  
  .logo {
    background-image: url("../img/sigillo2x.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    border: medium none;
    display: block;
    max-width: 100%;
    padding: 35px 0px 35px 78px;
    top: 0px;
    width: 960px;
    
    @media screen and (min-width: $medium){
      background-size: auto 95%;
      padding: 35px 0px 35px 130px;
    }
    
    img {
      border: medium none;
      display: block;
      height: auto;
      margin: 0;
      max-width: 100%;
      width: 384px;
      
      + img {
        margin-top: 6px;
        width: 270px;
      }
    }
  }
}

.title-page {
  flex: none;
  padding: $padding-small 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid $border-color;
  
  h1 {    
    font-size: 2em;
    margin-bottom: 0;
    float: left;
    color: $primary;
  }
  
  h2 {
    font-weight: 200;
    margin-bottom: 0;
  }
  
  .title {
    @include normal-fancy();
    margin-bottom: 0;
    float: left;
    color: $base-font-color;
    text-decoration: none;
    font-weight: 300;
    line-height: 38px;
    @media screen and (min-width: $medium){
      @include huge();
    }
  }
  
  .home {
    @include very-large();
  }
  
  .breadcrumbs {
    float: left;
    margin: 0 $padding-xs;
    @include normal-fancy();
    line-height: 38px;
    
    .separator {
      
      @media screen and (min-width: $medium){
        margin-right: $padding-small;
        margin-left: $padding-small;
      }
    }
    
    a {
      color: $base-font-color;
      text-decoration: none;
    }
  }
}

.context-view {
  display: flex;
  align-items: center;
  margin: 4px 0;
  
  @media screen and (min-width: $medium){
    float: right;
  }
  
  a {
    display: inline-block;
    color: $base-font-color;
    padding: $padding-xs;
    text-decoration: none;
    border: 1px solid $border-dark;
    position: relative;
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;    
    padding-right: 25px;
    
    &:hover{
      border: 1px solid $medium-gray;
    }
  }
  
  span{
    padding: $padding-small;
  }
  
  .btn {
    @include only-icon();
    margin: 0;
    margin-top: -5px;
    margin-left: $padding-small;
    position: absolute;
    top: 10px;
    right: 5px;
  }
}


@media screen and (max-width: 768px) {
  
  header .logo {
    padding-right: 10px;
  }
  
}
