header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e7e7e7;
  padding: $padding-small;
  width: 100%;
  font-family: "Cinzel", san-serif;
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .title {
    color: $primary;
    font-size: 2rem;
    line-height: 1em;
    margin: 0;
  }
  
  .sub-title {
	display: block;
    color: #333;
    font-size: 1.2rem;
  }
  
  .img {
    width: 100px;
    margin-right: $padding-xs;
    
    @media screen and (min-width: $large) {
      margin-right: $padding-small
    }
  }
  
  &.u-header-center { // Header centrato
    
    .content {
      justify-content: center;
    }
    
    .title {
      text-align: center;
    }
    
    .img {
      width: 100px;
      
      @media screen and (min-width: $large) {
        width: 140px;
      }
    }

  }
}
