.main-menu {
  margin: 0;
	
  > li {
    @include small-fancy();
    line-height: 28px;
    border-bottom: 1px solid $border-dark;
    position: relative;
    font-weight: 400;
  
    > a {
      color: $base-font-color;
      padding: $padding-xs $padding-xs $padding-xs $padding-small;
      text-decoration: none;
      display: block;
      line-height: inherit;
      
      i {
        vertical-align: baseline;
        line-height: inherit;
        margin-right: $margin-xs;
      }
    }
  }
    
  .selected {
    &:before {
      color: $red;
    }
    
    > a {
      position: relative;
      font-weight: normal;
      color: $red;
             
      &:before{
        content: "";
        width: 6px;
        background-color: $red;
        position: absolute;
        height: 100%;
        top: 0;
        left: -1px;
      }
    }
    
    > ul {
      padding-bottom: $padding;
    }
    
    > li {
      @include x-small();
      font-weight: normal;
      border-bottom: none;
      margin-left: 46px;
            
      a {
        padding: 0;
        padding-bottom: $padding-small;
      }
    }
  }
}

@media screen and (max-width: $medium-max){

.main-menu-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  
  > li {
    flex-grow: 1;
  }
  
  .selected {
    a {
      &:before {
        height: 6px;
        width: 100%;
        background-color: $red;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
      }
    }
  }
  
  .text {
	display: none;
    
    @media screen and (min-width: $medium) {
      display: inline;
    }
  }
}
}