.secondary-info{
	flex: 1 0 auto;
	background-color: @background-menu;
	padding: @padding;

	.text-wrapper{
		margin: 0 auto;
		max-width: 550px;
		text-align: center;
		color: @dark-gray;
		h3{
			.very-large-fancy();
			/*margin: @padding*1.5 0;*/
		}
		p{
			line-height: 1.5em;
		}
	}
	.main-label{
		&:after{
			content: "";
			width: 50px;
			height: 3px;
			background-color: @red;
			margin: @padding auto;
			display: block;
		}
	}
}