section {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em;
}
section section {		
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}
section section:last-of-type {		
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
section > h2,
section > h3{
  color: #3191d4;
  font-weight: normal;
  display: inline-block;
  padding-top: 1em;
}
h3 + a {
  margin-left: 1em;
}
.section-description{
  font-size: 1.1em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  color: #666;
}
.label-font{
  color: #00b7ff;
}
pre {
  display: flex;
  margin: 2em 0;
}
code {
  width: 100%;
}
.js:after {
  content: 'JS';
  padding: 2px 4px;
  background-color: #1779ba;
  color: #fff;
  font-size: 0.7em;
  margin-left: 5px;
  font-weight: bold;
}
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row.display-end .columns {
  background: #e1e1e1;
  border-left: 1px solid #c6c6c6;
}