.table-container {
  overflow-x: auto;
  width: 100%;
}

.gridview {
  width: 100%;
  table{
    width: auto;
    tbody{
      border: none;
    }
  }
  
  th {
    color: #fff;
    font-weight: 400;
    background-color: $dark-gray;
    padding: $padding-xs $padding-small;
    @include x-small-fancy();
    line-height: 20px;
    
    a {
      color: #fff;
      text-decoration: none;
      display: block;
      
      &:after {
      	content: "\f0dc";
      	font: normal normal normal 10px/1 FontAwesome;
      	margin-top: 8px;
      	margin-left: 6px;
      }
    }
    
    &.sort-asc{
      background-color: $primary;
	
      a:after {
      	content: "\f0de";
      	position: relative;
      	top: 3px;
      	font-size: 12px;
      }
    }
    
    &.sort-desc{
      background-color: $primary;
      
      a:after{
        content: "\f0dd";
        position: relative;
        top: -3px;
        font-size: 12px;
      }			    
    }
  }
  
  td {
    vertical-align: middle;
    border-color: #fff;
    padding: $padding-small;
    
    &.sort-desc,
    &.sort-asc {
      background-color: $selected;
    }
    
    .autorizzazioni {
      color: #666;
      font-size: 0.9em;
      margin-bottom: 0;
    }
  }
  
  tr:nth-child(even) td {
    background-color: $background-menu;
    
    &.sort-desc,
    &.sort-asc {
      background-color: $selected;
    }
  }

	/* paginazione */

	tr.grid-pager {
		margin-top: $padding;
		overflow: hidden;
		td{
			background-color: #fff;
			padding: 0;
			padding-top: $padding;
		}
		table:not(.pager-summary){
			float: right;
			td{
				border: 1px solid $border-dark;
				background-color: #fff;
				padding: 0;
				a,
				span{
					padding: 10px 12px;
					display: inline-block;
				}
				a{
					color: $base-font-color;
					text-decoration: none;
				}
				span{
					background-color: $red;
					color: #fff;
				}
			}
		}
		.pager-summary{
			float: right;
			td{
				padding-top: 10px;
				padding-right: 10px;
			}
		}
	}
}
