.toc {
  padding: $padding 0;
  width: 100%;
  margin-top: 2em;
  
  @media screen and (min-width: $large){
    padding: $padding-small;
    border-left: 4px solid $primary;
  }
  
  nav {
    > ul {
      margin: 0;
      > li {
        padding: $padding-xs 0;
      }
    }
  }
}