/* contenitore di pulsanti e azioni */
.toolbar{
	overflow: hidden;
	
	.export{
		float: right;
	}

	/* ricerca (con filtro) */
	.search{
	  display: flex;
	  min-width: 280px;
      margin-bottom: $margin-small;
      float: right;
      
	  input,
	  select {
	    width: auto;
	    min-width: 110px;
	    border-right: 0;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    height: 32px;
	    line-height: normal;
	    border-radius: 0;
	    margin: 0;
	  }
	  input {
	  	min-width: 162px;
	  }
	  select {
	    background-color: $background-button;
	  }
	  button {
	    @include btn-primary();
	    padding: 0 7px;
	    margin: 0;
	    background-color: $red;
	    border: 1px solid $red;
	  }
	}

	.filter{
		float: left;
		width: calc(100% - 36em);
		select{
			background-color: $background-button;
			max-width: 100%;
		}
	}
}

/* toolbar bottom (della form) che contiene i pulsanti salva/annulla */

.form-container + .toolbar{
  margin-top: $padding-big;
  margin-left: $padding-big;
}
