html, body {
  height: 100%;
}

main {
  flex-grow: 1;
  padding: $padding-xs 0;
    @include breakpoint(medium){
    padding: $padding 0;
  }
  &.row.expanded {
    padding: $padding-small 0 0 0;
  }
}

nav.column {
  border-left: 1px solid $e-gray;
  background-color: $light-gray;		
  display: flex;
  flex-direction: column;
}

.column,
.columns {  
  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  
  header + .row,
  .u-breadcrumbs + .row{
    flex-grow: 1;
  }
  
  &:after{
    content: '';
    height: 100%;
    visibility: hidden;
    position: absolute;
  }
  
  > .row {
    width: 100%;
      
    @include breakpoint(large){
      display: flex;
      min-height: 100%;
    }
  }
}

.u-magellan-menu {
  background-color: $white;
}
