.u-barra-login {
  background-color: $base-font-color;
  color: #fff;
  line-height: 32px;
  padding: 0px;

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
  }
  img {
    height: 18px;
    vertical-align: text-top;
    width: 18px;
  }
  .no-arrow { 
    padding-right: 0 !important;
    
    &:after { // Nascondo la freccia
      display: none !important;
    }
  }
  .login {
    border-top: 1px solid #ccc;
  }
  .dropdown.menu { // Foundation menu
    border-right: 1px solid #fff;
    
    > li {
      border-left: 1px solid #fff;
      
      &:hover{
        background-color: #fff;
        
        a {
          color: #333;
        }
      }
      
      &.is-dropdown-submenu-parent {
        padding-right: 0.7rem;
        transition: background-color 0.2s;
        
        &:hover {
          background-color: #fff;
          
          > a {
            color: #333;
            
            &:after { // Dropdown Arrow
              border-color: #333 transparent transparent;
            }
          }
        }
        
        > a {
          &:hover {
            color: #333;
            background-color: transparent;
          }
          &:after { // Dropdown Arrow
            border-color: #fff transparent transparent;
          }
        }
        
        .menu {
          li {
            a {
              color: $base-font-color;
              transition: background-color 0.2s;
              
              &:hover {
                background-color: darken(#fff, 12%);
                color: darken($base-font-color, 25%);
              }
            }
          }
        }
      }
    }
  }
}

.content-wrapper {
  .u-barra-login {
	flex-grow: 0;
  }
}

.u-utente-reale {
  font-style: italic;
  color: $dark-gray;
  font-size: 0.9em;
  text-align: center;
  border-bottom: 1px solid $medium-gray;
  padding: $menu-item-padding;
  
  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}
