html, body {
  height: 100%;
}

main {
  padding: $padding-xs 0;
  flex-grow: 1;
  
  @media screen and (min-width: $medium){
    padding: $padding 0;
  }
  
  &.row.expanded {
    padding: $padding 0 0 0;
  }
}

aside {
  border-left: 1px solid $border-color;
  background-color: $background-menu;		
  display: flex;
  flex-direction: column;
}

.column,
.columns {  
  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.u-content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  
  &:after{
    content: '';
    height: 100%;
    visibility: hidden;
    position: absolute;
  }
  
  > .row {
    width: 100%;
      
    @media screen and (min-width: $large) {
      
      display: flex;
      min-height: 100%;
    }
  }
}

.u-magellan-menu {
  background-color: white;
}
