.u-card-option {
  text-align: center;
  margin: $margin-small auto;
  
  h2 {
    margin-bottom: $padding-small;
    font-size: 1.92308rem;
    line-height: 2.92308rem;
  }
  &.fixed-width{
  	width: 300px;
  }
  .button{
  	margin-top: $padding-small;
  }
}
