/* elementi custom unibo */
@import 'u_gridform';

/* override elementi foundation */
@import 'u_label';

form {
    .required {
        &:after {
            content: '*';
            margin-right: -10px;
            padding-left: 3px;
            color: red;
            font-weight: bold;
            vertical-align: top;
        }
    }
}