footer {
  background-color: $dark-gray;
  color: #fff;
  padding: $padding 0;
  text-align: center;
  line-height: 1.4;
  
  @media screen and (min-width: $large){
    line-height: normal;
    text-align: left;
  }
  
  .link-container {
    text-align: center;
    padding-top: $padding;
    
    @media screen and (min-width: $large){
      float: right;
      padding-top: 0;
    }
  }
  
  a,
  a:visited,
  a:hover,
  a:link {
    color: #fff;
    text-decoration: underline;
  }
}
