.u-menu {
  margin: 0;
  list-style-type: none;
	
  li {
    @include small-fancy();
    line-height: 28px;
    position: relative;
    font-weight: 400;
    transition: background-color 0.3s;
  
    a {
      padding: $padding-xs $padding-xs $padding-xs $padding-small;
      text-decoration: none;
      display: block;
      line-height: inherit;
      
      i {
        vertical-align: baseline;
        line-height: inherit;
        margin-right: $margin-xs;
      }
    }
  }
  
  .selected {
    > a {
      position: relative;
      font-weight: normal;
             
      &:before {
        content: "";
        width: 6px;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    > ul {
      padding-bottom: $padding;
    }
    > li {
      @include x-small();
      font-weight: normal;
      border-bottom: none;
      margin-left: 46px;
            
      a {
        padding: 0;
        padding-bottom: $padding-small;
      }
    }
  }
}

.u-menu-main {
  li {
    border-bottom: 1px solid $border-dark;
    
    &:hover {
      background-color: #eee;
    }
    a {
      color: $base-font-color;
    }
  }
  .selected {
    > a {
      color: $red;
      
      &:before {
        background-color: $red;
      }
    }
  }
}

.u-menu-off-canvas {
  li {
    border-bottom: 1px solid #555;
    
    &:hover {
      background-color: $primary;
    }
    a {
      color: #fff;
      
      &:focus {
        outline: none;
        
        &:before {
          content: "";
          width: 6px;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #fff;
        }
      }
    }
    &.close {
      a {
        height: 48px;
      }
    }
    &.is-submenu-item {
      background-color: #555;
      &:hover {
        background-color: $primary;
      }
    }
  }
  .selected {
    > a {
      color: #eee;
      
      &:before {
        background-color: $primary;
      }
    }
  }
  .is-accordion-submenu-parent {
    > a {
      &:after {
        border-color: #fff transparent transparent;
      }
    }
  }
}
[data-whatinput="mouse"] {
  .u-menu-off-canvas {
    li {
      a {  
        &:focus {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $medium-max){

  .u-main-menu-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    
    > li {
      flex-grow: 1;
    }
    
    .selected {
      a {
        &:before {
          height: 6px;
          width: 100%;
          background-color: $red;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: auto;
        }
      }
    }
    
    .text {
  	display: none;
      
      @media screen and (min-width: $medium) {
        display: inline;
      }
    }
  }
}

// Foundation custom
.title-bar {
  border-left: 6px solid $primary;
}
.title-bar-title {
  color: white;
  
  &:hover {
    color: darken(white, 15%);
  }
}

