$u-stati-palette: (
  default: $medium-gray,
  rifiutato: $alert-color,
  attesa: $warning-color,
  completato: $success-color,
);

@each $stato, $colore in $u-stati-palette {
  .u-stato-#{$stato} {
    .fa {
      color: $colore;
      margin: 0 0.3em;
    }
  }
}
