table {
  border-collapse: collapse;
  border-spacing: 0;

  &.dark {
    thead {
      color: #fff;
      background-color: $dark-gray;
    }
  }
  
  &.no-border {
    thead,
    tbody,
    tfoot {
      border: 0;
    }
  }
}
