table {
  border-collapse: collapse;
  border-spacing: 0;
  
  thead {
    a {
      color: $base-font-color;
    }
    .active {
	  background-color: $primary-color;
      color: color-pick-contrast($primary-color, (#fff, $base-font-color));
    }
  }
  
  .active {
    background-color: lighten($primary-color, 50%);
  }

  &.dark {
    thead {
      color: $white;
      background-color: $dark-gray;
    }
  }
  
  &.no-border {
    thead,
    tbody,
    tfoot {
      border: 0;
    }
  }
}
