table {
  border-collapse: collapse;
  border-spacing: 0;
  
  thead {
    a {
      color: $base-font-color;
    }
  }
  
  .sorted {
    background-color: $medium-gray;
  }

  &.dark {
    thead {
      color: $white;
      background-color: $dark-gray;
    }
  }
  
  &.no-border {
    thead,
    tbody,
    tfoot {
      border: 0;
    }
  }
}
