// Colors
$red: $alert-color;
$base-font-color: $light-black;


// Padding e Margin
$margin: $global-margin;
$margin-xs: $margin / 4;
$margin-small: $margin / 2;
$margin-big: $margin * 2;

$padding: $global-padding;
$padding-xs: $padding / 4;
$padding-small: $padding / 2;
$padding-big: $padding * 2;


// Paletta colori stati
$u-stati-palette: (
  default: $medium-gray,
  rifiutato: $alert-color,
  attesa: $warning-color,
  completato: $success-color,
);


// Variabili foundation sovrascritte
$border-color: $e-gray;
